<section class="company-statstab-wrapper">
  <link
    rel="stylesheet"
    href="../../../../../admin/dashboard/tabs/stats/CompanyStats/CompanyStats.css"
  />

  <div class="csw-bottom">
    <div class="companyWiseProjects">
      <h3>Company Size Based on Projects</h3>

      <div class="companyWiseProjectsChartWrapper">
        <canvas id="companyWiseProjectsChart"></canvas>
      </div>

      <div class="pagination">
        <div class="pagination__pageCount">
          <span>Page</span>
          <span>{{currtProjectCWPage}}</span>
          <span>of</span>
          <span>{{totalPagesInProjectCW}}</span>
        </div>

        <i
          ng-disabled="currtProjectCWPage == 1"
          ng-click="companyWiseProjectPageChange(currtProjectCWPage - 1)"
          class="bi-arrow-left-square-fill"
          ng-class="{disabled:currtProjectCWPage===1}"
        ></i>
        <i
          class="bi-arrow-right-square-fill"
          ng-disabled="currtProjectCWPage >= totalPagesInProjectCW"
          ng-click="companyWiseProjectPageChange(currtProjectCWPage + 1)"
          ng-class="{disabled:currtProjectCWPage>=totalPagesInProjectCW}"
        ></i>
      </div>
    </div>

    <div class="companywisetickets">
      <h3>Company Size Based On Tickets</h3>
      <div class="companyWiseTicketCountsChart-wrapper">
        <canvas id="companyWiseTicketCountsChart"></canvas>
      </div>
      <div class="pagination">
        <div class="pagination__pageCount">
          <span>Page</span>
          <span>{{cptPage}}</span>
          <span>of</span>
          <span>{{totalPagesInCPT}}</span>
        </div>

        <i
          ng-disabled="cptPage == 1"
          ng-click="companyWiseTicketCountsPageChange(cptPage - 1)"
          class="bi-arrow-left-square-fill"
          ng-class="{disabled:cptPage===1}"
        ></i>
        <i
          class="bi-arrow-right-square-fill"
          ng-disabled="cptPage >= totalPagesInCPT"
          ng-click="companyWiseTicketCountsPageChange(cptPage + 1)"
          ng-class="{disabled:cptPage>=totalPagesInCPT}"
        ></i>
      </div>
    </div>
  </div>

  <div class="graph-wrapper-comp-Analytics">
    <div class="companyWisepeople">
     <h3>Company Size Based on Users</h3>
   
     <div class="companyWisePeopleChartWrapper">
      <canvas id="companyWisePeopleChart"></canvas>
     </div>
   
     <div class="pagination">
      <div class="pagination__pageCount">
       <span>Page</span>
       <span>{{currtCWPpage}}</span>
       <span>of</span>
       <span>{{totalPagesInCWP}}</span>
      </div>
   
      <i
       ng-disabled="currtCWPpage == 1"
       ng-click="companyWisepeoplePageChange(currtCWPpage - 1)"
       class="bi-arrow-left-square-fill"
       ng-class="{disabled:currtCWPpage===1}"
      ></i>
      <i
       class="bi-arrow-right-square-fill"
       ng-disabled="currtCWPpage >= totalPagesInCWP"
       ng-click="companyWisepeoplePageChange(currtCWPpage + 1)"
       ng-class="{disabled:currtCWPpage>=totalPagesInCWP}"
      ></i>
     </div>
    </div>
   

    <div class="locationWiseCompanyCount">
     <h3>Location Wise Companies</h3>
   
     <div class="locationWiseCompanyCount__map">
      <form
       name="locationWiseCompanyForm"
       class="locationWiseCompanyForm date-range-selector"
      >
       <!-- <select name="locationOption" ng-change="locationWiseCompanyDateChanged()" id="" ng-model="locationWiseCompanyFormData.locationOption" >
        <option  value="country">Country</option>
        <option value="state">State</option>
        <!-- <option value="city">City</option> -->
       <!-- </select> --> 
       </div>
      </form>
      <div class="locationWiseCompanyCount__map__chart">
       <canvas id="locationWiseCompanyCountChart"></canvas>
      </div>
      <div class="pagination">
        <div class="pagination__pageCount">
         <span>Page</span>
         <span>{{currLWCPage}}</span>
         <span>of</span>
         <span>{{totalPagesInLWC}}</span>
        </div>
     
        <i
         ng-disabled="currLWCPage == 1"
         ng-click="locationWiseCompanyChange(currLWCPage - 1)"
         class="bi-arrow-left-square-fill"
         ng-class="{disabled:currLWCPage===1}"
        ></i>
        <i
         class="bi-arrow-right-square-fill"
         ng-disabled="currLWCPage >= totalPagesInLWC"
         ng-click="locationWiseCompanyChange(currLWCPage + 1)"
         ng-class="{disabled:currLWCPage>=totalPagesInLWC}"
        ></i>
       </div>
     </div>
     
   </div>
</section>
