.company-statstab-wrapper {
 display: flex;
 flex-wrap: wrap;
 padding: 1rem;
 flex-direction: column;
 gap: 1rem;
}

.companyWisePeopleChartWrapper,
.companyWiseProjectsChartWrapper {
 width: 100%;

 padding: 1rem;
 display: flex;
 justify-content: center;
}
canvas {
 width: 100%;
}
.companyWisepeople,
.companyWiseProjects,
.companywisetickets {
 width: 48%;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 padding: 1rem;
 height: 50vh;
 background-color: rgb(255, 255, 255);
 border: 1px solid rgb(217, 217, 217);
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
 border-radius: 10px;
}

.projectTrend-wrapp {
 width: 48%;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 padding: 1rem;
 height: 50vh;
 background-color: rgb(255, 255, 255);
 border: 1px solid rgb(217, 217, 217);
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
 border-radius: 10px;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 padding-right: 3rem;
 align-items: center;
 font-size: 12px;
 gap: 1rem;
}
.pagination i {
 padding: 0.2rem;
 color: var(--pastel-pink);
 font-size: 1rem;
 cursor: pointer;
}

.pagination i.disabled {
 color: grey;
 pointer-events: none;
}

.csw-bottom {
 display: flex;
 gap: 1rem;
}

.project-count__card {
 padding: 10px;
 padding-left: 1rem;
 width: 15rem;
 min-height: 5rem;
 border-radius: 10px;
}

.project-count__card__count {
 font-size: 2.5rem;
 font-weight: 600;
}

.project-count__card__title {
 font-size: 12px;
 font-weight: 600;
}

.project-count__card:nth-of-type(1) {
 background: var(--nice-purple);
}

.project-count__card:nth-of-type(2) {
 background: var(--pastel-neon-green);
}

.project-count__card:nth-of-type(3) {
 background: var(--nice-red);
}

.project-count {
 display: flex;
 gap: 2rem;
 align-items: center;
}

.date-range-selector .input {
 display: flex;
 gap: 1rem;
 font-size: 14px;
 align-items: center;
}

label {
 margin-bottom: 0;
 font-weight: 600;
}

.date-range-selector form {
 display: flex;
 gap: 1rem;
}

.date-range-selector .input input {
 padding: 0.3rem;
 border-radius: 5px;
 border: 1px solid #ccc;
}
.companyStatTabHeader {
 padding: 1rem;
 background-color: white;
 border: 1px solid rgb(221, 221, 221);
 border-radius: 10px;
 margin-top: 2rem;
}
.header-cst {
 display: flex;
 width: fit-content;
 align-items: center;
 height: 20vh;
 width: 100%;
 padding: 2rem;
 margin-top: 2rem;
 justify-content: space-between;
 background-color: white;
 padding: 1rem;
}

#topCompanyProjectWiseChart-wrapper {
 padding: 1rem;
 width: 25%;
 justify-content: center;
}

/* ticket realted */

.ticket-statstab-wrapper {
 display: flex;
 flex-wrap: wrap;
 padding: 1rem;
 flex-direction: column;
 gap: 3rem;
}

.ticket-count__card {
 padding: 10px;
 padding-left: 1rem;
 width: 15rem;
 min-height: 5rem;
 border-radius: 10px;
}

.ticket-count__card__count {
 font-size: 2.5rem;
 font-weight: 800;
}

.ticket-count__card__title {
 font-size: 12px;
 font-weight: 700;
}

.ticket-count__card:nth-of-type(1) {
 background: var(--nice-purple);
}

.ticket-count__card:nth-of-type(2) {
 background: var(--pastel-neon-green);
}

.ticket-count__card:nth-of-type(3) {
 background: var(--nice-red);
}

.ticket-count {
 display: flex;
 gap: 2rem;
 align-items: center;
}

.date-range-selector .input {
 display: flex;
 gap: 1rem;
 font-size: 14px;
 align-items: center;
}

label {
 margin-bottom: 0;
 font-weight: 600;
}

.date-range-selector form {
 display: flex;
 gap: 1rem;
}

.date-range-selector .input input {
 padding: 0.3rem;
 border-radius: 5px;
 border: 1px solid #ccc;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 padding-right: 3rem;
 align-items: center;
 font-size: 12px;
 gap: 1rem;
}
.pagination i {
 padding: 0.2rem;
 color: var(--pastel-pink);
 font-size: 1rem;
 cursor: pointer;
}

.pagination i.disabled {
 color: grey;
 pointer-events: none;
}

.companyWiseTicketCountsChart-wrapper {
 width: 80%;
}

.ticketStatTabHeader {
 padding: 1rem;
 background-color: white;
 border: 1px solid rgb(221, 221, 221);
 border-radius: 10px;
}

.companyWiseTicketCountsChart-wrapper {
 width: 100%;
}
#projectTrend-select {
 width: 20%;
}
#ticketTrend-select {
 width: 20%;
}

.trendsChart-wrapper {
 display: flex;
 gap: 2rem;
}

.graph-wrapper-comp-Analytics {
 display: flex;
 gap: 1rem;
}

.companyWisepeople,
.locationWiseCompanyCount {
 width: 48%;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 padding: 1rem;
 height: 30rem;
 background-color: rgb(255, 255, 255);
 border: 1px solid rgb(217, 217, 217);
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
 border-radius: 10px;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 padding-right: 3rem;
 align-items: center;
 font-size: 12px;
 gap: 1rem;
}

.pagination i {
 padding: 0.2rem;
 color: var(--pastel-pink);
 font-size: 1rem;
 cursor: pointer;
}

.pagination i.disabled {
 color: grey;
 pointer-events: none;
}


@media screen and (max-width:1400px) {
 h3{
  font-size: 1.2rem;
 }
 

 .companyWisepeople, .companyWiseProjects, .companywisetickets,.locationWiseCompanyCount{
  height: 22rem;
 }
}

@media screen and (max-width:1300px) {
 .companyWisepeople, .companyWiseProjects, .companywisetickets,.locationWiseCompanyCount{
  width: 100%;
  height: fit-content;
 }

 
.graph-wrapper-comp-Analytics ,.csw-bottom  {
  flex-direction: column;
  gap: 1rem;
}
}