.sidebar {
 width: fit-content;
 /* border-right: 1px solid black; */
 padding: 10px;

 min-height: 100vh;
 height: 100%;
 background: white;
 /* background: var(--dark-purple); */
 transition: 0.2s ease;
 position: sticky;
 border-right: 1px solid rgb(191, 188, 188);
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.sidebar.collapsed {
 width: 4rem;
}

.profile {
 display: flex;
 /* border: 1px solid rgb(240, 238, 238); */
 border-radius: 10px;
 /* flex-direction: column; */
 justify-content: space-between;
 align-items: center;
 padding: 0.4rem 0.8rem;
 background: var(--light-purple);
 transition: 0.4s ease;
}

.profile span {
 font-size: 0.9rem;
 font-weight: 500;
 line-height: 0.8rem;
}

.collapsed .profile {
 justify-content: center;
 padding: 0.4rem 0;
}

.profile p {
 font-size: 12px;
 margin-bottom: 0;
}

.sidebar-options-container {
 display: flex;
 /* border: 1px solid rgb(240, 238, 238); */
 flex-direction: column;
 gap: 1rem;
 /* background: #ffffff; */
 /* border-radius: 10px; */
}

.sidebar-option {
 width: 95%;
 padding: 5px 20px;
 display: flex;
 justify-items: flex-start;
 gap: 1rem;
 align-items: center;
 border-radius: 7px;
 background-color: transparent;
 /* font-weight: bold; */
 font-size: 0.8rem;
 -webkit-text-stroke: 0.3px;
 /* color: var(--text-on-dark-purple); */

 /* background: #ffffff; */
}

.sidebar-option.collapsed {
 justify-content: center;
}

.sidebar-option:hover {
 background-color: #bb2550;
 color: white;
}

.link {
 text-decoration: none;
 color: inherit;
}

.link:hover {
 text-decoration: none;
 color: inherit;
}

.active {
 background-color: var(--dark-pink); /* Light grey background */

 color: #ffffff; /* Darker text color */
}

.logo {
 display: flex;
 /* justify-content: center; */
 align-items: center;
 margin-bottom: 1rem;
 font-size: 2rem;
 font-weight: bold;
 color: var(--dark-pink);
 justify-content: center;
}

.profile img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
}

.sidebar-collapse-btn {
 position: absolute;
 top: 2rem;
 right: -0.7rem;
 border: 1px solid;
 border-radius: 50%;
 padding: 5px;
 font-size: 10px;
 font-weight: bold;
 background: #000;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 -webkit-text-stroke: 1px;
 cursor: pointer;
}

.logout-btn {
 background-color: var(--dark-pink);
 color: white;
}
.logout-icon {
 font-size: 1.5rem;
 padding: 1rem 0;
}
.logout-icon:hover {
 cursor: pointer;
 color: blue;
}

.companyDetails {
 display: flex;
 align-items: center;
 gap: 1rem;
 padding: 0.4rem;
 margin-bottom: 1rem;
}

.companyDetails img {
 width: 30px;
 height: 30px;
 object-fit: cover;
}

.company-name {
 font-size: 1.2rem;
 font-weight: bold;
 color: var(--dark-pink);
}

@media screen and (max-width: 1000px) {
 .sidebar{
  width: 9rem;
  
 }

 .profile{
  padding: 0.2rem 0.4rem;
  font-size: 10px;
 }
.profile span {
 font-size: 12px;
 margin-bottom: 0;
}

.sidebar-option{
 width: 100%;
 font-size: 0.6rem;
 gap: 0.5rem;
}

.logout-btn{
 padding: 0.2rem 0.5rem;
 font-size: 0.8rem;
 display: flex;
 align-items: center;
 justify-content: center;
}
}