.dashboard_company_wrapper {
 margin-top: 2rem;
 padding: 1rem;
 font-family: "Plus Jakarta Sans", sans-serif;
 min-height: 100vh;
}

h2 {
 color: var(--dark-purple);
 font-weight: 600;
}

.dashboard_company_wrapper .head {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

button {
 background-color: var(--dark-pink);
 color: white;
 font-weight: 300;
 font-size: 12px;
}

.error {
 color: red;
 font-size: 12px;
}

h4 {
 color: var(--dark-purple);
 font-weight: bold;
}

.form-group {
 margin-bottom: 0.5rem;
}

.form-group label {
 font-size: 14px;
 line-height: 12px;
 margin-bottom: 0;
 font-weight: 400;
 font-weight: 600;
}

.form-control:focus {
 border-color: #000000;
 box-shadow: none;
}

.form-control {
 font-size: 12px;
}

.btn-add{
 width: fit-content;
 background-color: var(--dark-pink);
 padding: 0.3rem;
 border-radius: 4px;
 outline: none;
 border: none;
 color: white;
 font-size: 13px;
}

.btn.disabled {
 cursor: not-allowed;
}

form .btn {
 width: 100%;
 margin-top: 1rem;
}

.logoPreview {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 1rem;
 gap: 1rem;
 height: 4rem;
 width: 4rem;
 border: 1px solid var(--dark-purple);
}

.logoPreview img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.table {
 /* border: 1px solid #000000; */
 border-spacing: 0;
 padding: 4rem;
}

.table th {
 border: none;
 font-size: 14px;
 font-weight: 600;
 color: var(--dark-purple);
 background: var(--light-purple);
}

.table tr {
 border: none;
 /* display: flex; */
 /* justify-content: space-around; */
}

.table td {
 border: none;
 font-size: 13px;

 vertical-align: middle;
 align-items: center;
 /* border: 1px solid var(--dark-purple); */
 /* white-space: nowrap; */
}

td.action {
 display: flex;
 justify-content: center;
 margin: 0 2rem;
 font-size: 12px;
 text-decoration: underline;
}
td.action:hover {
 cursor: pointer;
 color: blue;
 text-decoration: underline;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.pagination li {
 list-style: none;
 margin: 0 0.5rem;
}

.page-link {
 padding: 0.2rem;
 color: #000000;
}

.page-link:hover {
 padding: 0.2rem;
 color: #000000;
}

li.disabled {
 background: rgb(228, 227, 227);
 pointer-events: none;
}

li.disabled a i {
 pointer-events: none;
 color: #ababab;
}
.pagination-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}
.row-count-wrapper {
 display: flex;
 font-size: 12px;
 align-items: center;
 gap: 0.5rem;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 font-size: 12px;
}

.searchBox {
 display: flex;
 gap: 1rem;
 width: 20rem;
 margin-bottom: 1rem;
}

.searchBox button {
 background-color: var(--dark-pink);
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
}

.table-wrapper {
 overflow-x: auto;
 display: flex;
 flex-direction: column;
}

.content {
 background: #ffffff;
 padding: 1rem;
 margin-top: 4rem;
 border-radius: 10px;
 border: 1px solid rgb(229, 229, 229);
}

.content {
 /* background: #ffffff; */
 padding: 1rem;
 margin-top: 3rem;
 border-radius: 10px;

 /* border: 1px solid rgb(229, 229, 229); */
}

.badge {
 width: fit-content;
 padding: 0.2rem 0.5rem;
 border-radius: 5px;
 font-size: 12px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.badge-success:hover {
 background-color: grey;
 cursor: pointer;
}
.badge-danger:hover {
 background-color: grey;
 cursor: pointer;
}

.edit-btn {
 cursor: pointer;
}

.table td {

 width: fit-content;
 white-space: nowrap;
}


@media screen and (max-width: 820px) {
 .dashboard_company_wrapper {
   padding: 0.5rem;
 }



 .logoPreview {
   margin-top: 0.5rem;
   height: 3rem;
   width: 3rem;
 }



 .pagination li {
   margin: 0 0.3rem;
 }

 .searchBox {
   width: 15rem;
 }

 .content {
   margin-top: 2rem;
 }


}
