<section>
 <link
  rel="stylesheet"
  href="../../../admin/dashboard/tabs/dashboard_company.css"
 />
 <div class="dashboard_company_wrapper">
  <div class="head">
   <h2>Companies</h2>
   <button
    class="btn btn-add"
    ng-click="launchModal('addCompanyModal',formHolder.addCompanyForm)"
   >
    Add Company
   </button>
  </div>

  <div class="content">
   <my-modal
    modal-size="lg"
    modal-id="addCompanyModal"
    title="{{isEditing ? 'Edit Company' : 'Add Company'}}"
   >
    <form
     ng-submit="isEditing ?editCompanyFormSubmit('addCompanyModal' , formHolder.addCompanyForm):addCompanyFormSubmit('addCompanyModal',formHolder.addCompanyForm)"
     name="formHolder.addCompanyForm"
     novalidate
    >
     <h4>Company</h4>
     <div class="form-group">
      <label for="companyName">Company Name*</label>
      <input
       type="text"
       class="form-control"
       id="companyName"
       name="companyName"
       ng-model="addCompanyFormData.name"
       required
      
      />

      <div
       class="error"
       ng-show="formHolder.addCompanyForm.companyName.$error.required && formHolder.addCompanyForm.companyName.$touched"
      >
       Company Name is required
      </div>
     </div>

     <!-- company domain -->
     <div class="form-group">
      <label for="companyDomain">Domain*</label>
      <input
       type="text"
       class="form-control"
       id="companyDomain"
       name="companyDomain"
       ng-model="addCompanyFormData.domain"
       required
       ng-pattern="/^[a-z0-9]+$/i"
     
      />
      <div
       class="error"
       ng-show="formHolder.addCompanyForm.companyDomain.$error.required && formHolder.addCompanyForm.companyDomain.$touched"
      >
       Company Domain is required
      </div>
      <div class="error" ng-show="formHolder.addCompanyForm.companyDomain.$error.pattern">
       only lowercase letters allowed
      </div>
     </div>

     <div class="form-row">
      <!-- compamy city state country -->

      <div class="form-group col">
        <label for="companyCountry">Country*</label>
        <!-- <input
         type="text"
         class="form-control"
         id="companyCountry"
         name="companyCountry"
         ng-model="addCompanyFormData.country"
         required
        /> -->

        <select
         class="form-control"
         id="companyCountry"
         name="companyCountry"
         ng-model="addCompanyFormData.country"
         ng-change="countryChange(addCompanyFormData.country)"
         required
    
         >
         <option value="">Select a country</option>
         <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
        </select>

        <div
         class="error"
         ng-show="formHolder.addCompanyForm.companyCountry.$invalid && formHolder.addCompanyForm.companyCountry.$touched"
        >
         Country is required
        </div>
       </div>

    
      <div class="form-group col">
       <label for="companyState">State*</label>
       <!-- <input
        type="text"
        class="form-control"
        name="companyState"
        id="companyState"
        ng-model="addCompanyFormData.state"
        required
       /> -->

        <select
          class="form-control"
          id="companyState"
          name="companyState"
          ng-model="addCompanyFormData.state"
          ng-change="getCities(addCompanyFormData.country, addCompanyFormData.state)"
          required
          ng-disabled="!addCompanyFormData.country"
        >
          <option value="">Select a state</option>
          <option ng-repeat="state in statesToShow" value="{{state.name}}">{{state.name}}</option>

        </select>
       <div
        class="error"
        ng-show="formHolder.addCompanyForm.companyState.$invalid && formHolder.addCompanyForm.companyState.$touched"
       >
        State is required
       </div>
      </div>

      <div class="form-group col">
        <label for="companyCity">City*</label>
       <!-- <input
         type="text"
         name="companyCity"
         class="form-control"
         id="companyCity"
         ng-model="addCompanyFormData.city"
         required
        />  -->

     <select
         class="form-control"
         id="companyCity"
         name="companyCity"
         ng-model="addCompanyFormData.city"
         ng-disabled="!addCompanyFormData.country || !addCompanyFormData.state"
         required
        >
          <option value="">Select a city</option>
          <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
        </select>

        <div
         class="error"
         ng-show="formHolder.addCompanyForm.companyCity.$invalid && formHolder.addCompanyForm.companyCity.$touched && formHolder.addCompanyForm.$submitted"
        >
         City is required
        </div>
       </div> 
      
     </div>
     <!-- company logo -->
     <div class="form-group">
      <label for="companyLogo">Company Logo</label>
      <input
       type="file"
       class="form-control"
       id="companyLogo"
       name="companyLogo"
       ng-model="addCompanyFormData.logo"
       file-model="addCompanyFormData.logo"
       accept="image/*"
      />



      <div
       class="error"
       ng-show="formHolder.addCompanyForm.companyLogo.$dirty && formHolder.addCompanyForm.companyLogo.$invalid"
      >
       Company Logo is required
      </div>
      <div class="logopreview-wrapper">
        <div class="logoPreview" ng-show="addCompanyFormData.previewLogo[0].url">
          <img ng-src="{{addCompanyFormData.previewLogo[0].url}}" alt="" />
          
         </div>

         <button type="button" ng-click="removeLogo()"   ng-class="{'disabled': !addCompanyFormData.previewLogo[0].url}"  ng-disabled="!addCompanyFormData.previewLogo[0].url">Remove</button>
      </div>
     </div>

     <h4>Company Admin</h4>

     <div class="form-row">
      <div class="form-group col">
       <label for="adminFirstName">First Name*</label>
       <input
        type="text"
        class="form-control"
        id="adminFirstName"
        name="adminFirstName"
        ng-model="addCompanyFormData.admin.firstname"
        ng-required="true"
      
       />
       <div
        class="error"
        ng-show="formHolder.addCompanyForm.adminFirstName.$error.required && formHolder.addCompanyForm.adminFirstName.$touched"
       >
        First Name is required
       </div>
      </div>
      <div class="form-group col">
       <label for="adminLastName">Last Name</label>
       <input
        type="text"
        class="form-control"
        id="adminLastName"
        name="adminLastName"
        ng-model="addCompanyFormData.admin.lastname"
        
       />
       <!-- <div
                class="error"
                ng-show="formHolder.addCompanyForm.adminLastName.$error.required && formHolder.addCompanyForm.adminLastName.$touched"
              >
                Last Name is required
              </div> -->
      </div>
     </div>

     <div>
      <!-- email  
          -->

      <div class="form-group">
       <label for="adminEmail">Email*</label>
       <input
        type="email"
        class="form-control"
        id="adminEmail"
        name="adminEmail"
        ng-model="addCompanyFormData.admin.email"
        ng-required="true"
        
       />
       <div
        class="error"
        ng-show="formHolder.addCompanyForm.adminEmail.$error.required && formHolder.addCompanyForm.adminEmail.$touched"
       >
        Email is required
       </div>
       <div
        class="error"
        ng-show="formHolder.addCompanyForm.adminEmail.$error.email && formHolder.addCompanyForm.adminEmail.$touched"
       >
        Invalid email format
       </div>
      </div>

      <!-- phone no countru code on left -->

      <div class="form-row">
       <div class="form-group col">
        <label for="adminPhoneNo">Phone No*</label>
        <input
         type="number"
         class="form-control"
         id="adminPhoneNo"
         name="adminPhoneNo"
         ng-model="addCompanyFormData.admin.phoneNumber"
         ng-pattern="/^\d{10}$/"
         ng-required="true"
        
        />
        <div
         class="error"
         ng-show="formHolder.addCompanyForm.adminPhoneNo.$error.required && formHolder.addCompanyForm.adminPhoneNo.$touched"
        >
         Phone No is required
        </div>
        <div
         class="error"
         ng-show="formHolder.addCompanyForm.adminPhoneNo.$error.pattern && formHolder.addCompanyForm.adminPhoneNo.$touched"
        >
         Invalid Phone No.
        </div>
       </div>
      </div>
     </div>
     <!-- btn to submit-->

     <div class="formerror">
      <div
       class="error"
       ng-show="formHolder.addCompanyForm.$invalid && formHolder.addCompanyForm.$submitted"
      >
       {{formHolder.addCompanyForm.errorMessage}}
      </div>
     </div>

     <!-- validation errors  -->

     <div class="formerror-list">
      <div
       class="error"
       ng-show="addCompanyFormErrors.length > 0 && formHolder.addCompanyForm.$submitted && formHolder.addCompanyForm.$invalid"
      >
       <div>
        <span ng-repeat="error in addCompanyFormErrors">{{ error }}</div>
       </>
      </div>
     </div>

  

     <button
      type="submit"
      class="btn"
      ng-disabled="formHolder.addCompanyForm.$invalid"
      ng-class="{'disabled': formHolder.addCompanyForm.$invalid}"
     >
      submit
     </button>
    </form>
   </my-modal>

   <!-- list companies -->

   <div class="company-table">
   <div class="top-bar">
   
      <input
       type="text"
       class="form-control"
       placeholder="Search by company name"
       ng-model="companiesData.query"
       ng-change="debounceSearch()"
      />
     <span class="date-filter" ng-click="dateOptionChange('oneYear');" ng-class="{'active' : dateRangeOption=== 'oneYear'}">1 Year</span>
     <span class="date-filter" ng-click="dateOptionChange('sixMonths');" ng-class="{'active' : dateRangeOption=== 'sixMonths'}">6 Months</span>
     <span class="date-filter" ng-click="dateOptionChange('oneMonth');" ng-class="{'active' : dateRangeOption=== 'oneMonth'}">1 Month</span>

     <span ng-click="dateOptionChange(null);" ng-if="dateRangeOption" class="clear-date-option bi-x"></span>
   </div>
   <div class="table-wrapper">
    <table class="table table-hover">
     <thead>
      <tr>
       <th scope="col">Company Name</th>

       <th scope="col">Domain</th>
       <th scope="col">City</th>
       <th scope="col">State</th>
       <th scope="col">Country</th>
       <th scope="col">Joining Date</th>
       <th scope="col">Status</th>
       <th scope="col"></th>
       <!-- admin details -->
       <!-- <th scope="col">Admin Name</th>
       <th scope="col">Admin Email</th>
       <th scope="col">Admin Phone No</th> -->

       <!-- <th scope="col"></th>   -->
      </tr>
     </thead>
     <tbody>
      <tr ng-repeat="company in companiesData.companies">
       <td>
        <img
         ng-src="{{ company.logo }}"
         alt=""
         style="width: 30px; height: 30px; margin-right: 10px"
        />

        {{ company.name }}
       </td>

       <td>{{ company.domain }}</td>
       <td>{{ company.city }}</td>
       <td>{{ company.state }}</td>
       <td>{{ company.country }}</td>
       <td>{{ company.createdAt | date : 'dd/MM/yyyy' }}</td>
       <td>
        <span
         class="badge"
         ng-class="{'badge-success': company.isEnabled, 'badge-danger': !company.isEnabled}"
         ng-click="changeCompanyStatus(company._id , company)"
        >
         {{ company.isEnabled ? 'active' : 'inactive'}}
        </span>
       </td>
       <td ng-click="editCompany(company , 'addCompanyModal')">
        <i class="bi bi-pencil-square edit-btn"></i>
       </td>
       <!-- <td>{{ company.admin.firstname + " " + company.admin.lastname }}</td>
       <td>{{ company.admin.email }}</td>
       <td>{{ company.admin.phoneNumber }}</td> -->
      </tr>
     </tbody>
    </table>
    <!-- pagination -->
    <div class="pagination-wrapper">
     <div class="row-count-wrapper">
      <span>Rows per page:</span>
      <select
       ng-model="companiesData.pageSize"
       ng-options="size for size in [5,10,15,20]"
       ng-change="pageChange(1,companiesData.pageSize)"
      ></select>
     </div>
     <ul class="pagination">
      <li
       class="page-item"
       ng-class="{'disabled':companiesData.currentPage === 1}"
       ng-click="pageChange(companiesData.currentPage - 1,companiesData.pageSize)"
      >
       <a class="page-link"> <i class="bi-caret-left-fill"></i></a>
      </li>
      <span>{{companiesData.currentPage}}/{{companiesData.totalPages}}</span>

      <li
       class="page-item"
       ng-class="{'disabled':companiesData.currentPage === companiesData.totalPages}"
       ng-click="pageChange(companiesData.currentPage + 1,companiesData.pageSize)"
      >
       <a class="page-link"><i class="bi-caret-right-fill"></i></a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</section>
