.doneBy img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
}

.ticket-create-log,
.ticket-edit-log {
 display: flex;
 gap: 10px;
 align-items: center;
 padding: 5px 10px;
 font-size: 12px;
 justify-content: space-between;
 background: rgba(232, 244, 232, 0.675);
 border-radius: 6px;
}

.ticket-name {
 font-size: 14px;
 font-weight: 600;
}

.log-time {
 font-size: 10px;
 color: #666;
}

.ticketLogsContainer {
 display: flex;
 flex-direction: column;
 gap: 10px;
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;
 background: white;
 width: 100%;
 height: 100%;
 overflow-y: auto;
}

.ticket-create-log .doneBy {
 display: flex;
 align-items: center;
 gap: 10px;
}

.ticket-edit-log {
 background: rgba(234, 243, 243, 0.671);
 cursor: pointer;
}

.ticket-edit-log .doneBy {
 display: flex;
 align-items: center;
 gap: 10px;
}

.edit-log-info {
 border: none;
 outline: none;
 background: transparent;
 font-size: 12px;
 cursor: pointer;
}

.card-body {
 margin-top: 1rem;
 padding: 0.3rem;
 display: flex;
 flex-direction: column;
 gap: 0.4rem;
}

.bold-log {
 font-weight: 600;
}

.log-change {
 font-size: 12px;
}

.member-img-log {
 width: 20px;
 height: 20px;
 border-radius: 50%;
}

.membersAdded {
 display: flex;
 align-items: center;
 gap: 4px;
}

.membersAdded .members {
 display: flex;
 gap: 10px;
 align-items: center;
}

.activity-log-project {
 display: flex;
 gap: 10px;
 padding: 1rem;
 flex-direction: column;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 padding-right: 3rem;
 align-items: center;
 font-size: 12px;
 gap: 1rem;
}
.pagination i {
 padding: 0.2rem;
 color: var(--pastel-pink);
 font-size: 1rem;
 cursor: pointer;
}

.pagination i.disabled {
 color: grey;
 pointer-events: none;
}
.log-table {
 margin: 0.5rem;
}

.log-table thead th{
 padding: 0.2rem;
 background-color: #e5dbf2;
}

.log-table tbody tr {
 border: 1px solid #ccc;
}

.log-table td {
 font-size: 14px;
 font-weight: 400;
 padding: 0.5rem;
}

.assignedBy-details {
 border: 1px solid #ccc;
 width: fit-content;
 padding: 0.3rem;
 display: flex;
 font-size: 13px;
 flex-direction: column;
}

.assignedBy-detail img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
}

.ticket-details {
 display: flex;
 flex-direction: column;
 font-size: 13px;
 padding: 0.4rem;
}

.log-row{
 display: flex;
 gap: 5px;
 flex-direction: column;

}

.ticket-detail {
 display: flex;
 gap: 10px;
 font-size: 13px;
}

.ticket-detail span:nth-child(1) {
 font-weight: 600;
}

.assignees-table {
 border: 1px solid #ccc;
}

.assignees-table th {
 font-size: 14px;
 font-weight: 600;
 padding: 0.5rem;
}

.assignees-table td {
 font-size: 13px;
 padding: 0.5rem;
}

.assignees-table img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
}

.attachments {
 display: flex;
 padding: 0.5rem;
 align-items: center;
 gap: 0.6rem;
}

.attachment img {
 height: 30px;
 width: 30px;
 margin-top: 1rem;
}

.log-meta-details {
 display: flex;
 margin: 0.4rem;
 background-color: rgb(194, 232, 194);
 padding: 0.2rem;
 gap: 1rem;
 justify-content: space-between;
 padding: 0.4rem;
}

.log-meta-detail {
 display: flex;
 gap: 2px;
 font-size: 13px;
}

.log-meta-detail span:nth-child(1) {
 font-weight: 600;
}

.history{
 display: flex;
 gap: 10px;
 align-items: center;
 justify-content: center;
 border: 2px solid green;
 color: rgb(28, 73, 28);
 padding: 0.1rem;
 cursor: pointer;

}

.history i{
 -webkit-text-stroke: 1px;
}

.ticket-history-table{
 width: 95%;
}