<section class="activity-log-project">
 <link
  rel="stylesheet"
  href="../../../../../Company/tabs/projects/project/activity/activity.css"
 />

 <h2>Activity Log</h2>
 <div class="ticketLogsContainer">


   <table class="log-table">
    <thead>
      <tr>
        <th>Entity</th>
        <th>Activity</th>
        <th>Time</th>
        <th>Done By</th>
      </tr>
    </thead>
  
    <tbody>
      <tr ng-repeat ="ticketLog in displayedTicketsLogs" ng-click="openTicketLogDialog(ticketLog,'ticket-log-view')">
        <td>
          <div>
            <a href="">{{ticketLog.model.name + "-" + ticketLog.model.id}}</a>
            <div>       
              <span>{{ticketLog.changes.name}}</span>
            </div>
          </div>

        </td>
        <td ng-class="{
          'action-create': ticketLog.action === 'CREATE',
          'action-update': ticketLog.action === 'UPDATE',
          'action-delete': ticketLog.action === 'DELETE'
        }"><div>{{ticketLog.action}}</div></td>
        <td>{{ ticketLog.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>
          <div class="doneBy">
            <img ng-src="{{ticketLog.doneBy.image}}" alt="" />
            <span>{{ticketLog.doneBy.firstname + " " + ticketLog.doneBy.lastname}}</span>
          </div>
        </td>
      </tr>
    </tbody>
   </table>


 <div class="pagination">
  <div class="pagination__pageCount">
   <span>Page</span>
   <span>{{paPage}}</span>
   <span>of</span>
   <span>{{totalPagesInPA}}</span>
  </div>

  <i
   ng-disabled="paPage <= 1"
   ng-click="projectActivityPageChange(paPage - 1)"
   class="bi-arrow-left-square-fill"
   ng-class="{disabled:paPage<=1}"
  ></i>
  <i
   class="bi-arrow-right-square-fill"
   ng-disabled="paPage >= totalPagesInPA"
   ng-click="projectActivityPageChange(paPage + 1)"
   ng-class="{disabled:paPage>=totalPagesInPA}"
  ></i>
 </div>

 <my-modal
 modal-size="lg"
 modal-id="ticket-log-view"
 title="Ticket Log"
>
 <div class="ticket-log">

  <div class="log-meta-details" ng-class="{
    'log-create': ticketLog.action === 'CREATE',
    'log-update': ticketLog.action === 'UPDATE',
    'log-delete': ticketLog.action === 'DELETE'
  }">
   <div class="left">
    <div class="log-meta-detail">
      <span>Entity : </span>
      <span>{{ticketLog.model.name}}</span>
    </div>
    <div class="log-meta-detail">
      <span>Activity : </span>
      <span>{{ticketLog.action}}</span>
      </div>
      <div class="log-meta-detail">
        <span>Time : </span>
        <span>{{ticketLog.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</span>
      </div>
   </div>

   <div class="right">
    <div class="history" ng-click="setShowTicketHistory(true)">
      <i class="bi bi-clock-history"></i>
    </div>
   </div>
    
  </div>

  <div class="ticket-details" ng-show="!showTicketHistory">
    <div class="log-row">
      <div class="ticket-detail">
        <span>Ticket ID : </span>
        <span>{{ticketLog.changes._id}}</span>
      </div>
      <div class="ticket-detail">
        <span> Name : </span>
        <span>{{ticketLog.changes.projectDetails.key + "-" + ticketLog.changes.number}}</span>
      </div>
      <div class="ticket-detail">
        <span> Description : </span>
        <span>{{ticketLog.changes.description}}</span>
      </div>
      <div class="ticket-detail">
        <span> Type : </span>
        <span>{{ticketLog.changes.ticketType}}</span>
      </div>
      <div class="ticket-detail">
        <span> Priority: </span>
        <span>{{ticketLog.changes.priority}}</span>
      </div>
      <div class="ticket-detail">
        <span>Status : </span>
        <span>{{ticketLog.changes.status}}</span>
      </div>
      <div class="ticket-detail">
        <span>Due Date : </span>
        <span>{{ticketLog.changes.dueDate}}</span>
      </div>
      <div class="ticket-detail">
        <span>Created By : </span>
        <span><div class="assignedBy-details">
          <div class="assignedBy-detail">
            <span>Id :</span>
            <span>{{ticketLog.changes.assignedBy._id}}</span>
          </div>
          <div class="assignedBy-detail">
            <span>Name :</span>
            <span>{{ticketLog.changes.assignedBy.firstname + " " + ticketLog.changes.assignedBy.lastname}}</span>
          </div>
          <div class="assignedBy-detail">
            <span>Image :</span>
            <img ng-src="{{ticketLog.changes.assignedBy.image}}" alt="" />
          </div>
        </div></span>
      </div>
      <div class="ticket-detail">
        <span>Reporter Client : </span>
        <span>{{ticketLog.changes.reporterClient}}</span>
      </div>
  
      <div class="ticket-detail">
        <span>Assignees : </span>
        <span>
          <table class="assignees-table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Date Joined</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="assignee in ticketLog.changes.assignees">
                <td>{{assignee._id}}</td>
                <td>{{assignee.firstname}}</td>
                <td>{{assignee.lastname}}</td>
                <td><img ng-src="{{assignee.image}}" alt="" /></td>
                <td>{{assignee.assignmentDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
              </tr>
            </tbody>
          </table>
        </span>
       </div> 


       <div class="ticket-detail">
        <span>Attachments</span>
        <div class="attachments">
          <div class="attachment" ng-repeat="attachment in ticketLog.changes.attachments">
         
        <div ng-if="isImage(attachment)">
         <img ng-src="{{attachment}}" alt="attachments-preview" />
        </div>
        <div ng-if="!isImage(attachment)">
         <a class="file-link" ng-href="{{attachment}}" target="_blank">
          <i class="bi-file-earmark-check"></i>
         </a>
       
       </div>
          </div>
        </div>
       </div>
    </div>
  
  </div>

  <div class="ticket-history" ng-show="showTicketHistory">
    <table class="ticket-history-table log-table">
      <thead>
        <tr>
          <th>Entity</th>
          <th>Activity</th>
          <th>Time</th>
          <th>Done By</th>
        </tr>
      </thead>
    
      <tbody>
        <tr ng-repeat ="ticketLog in ticketHistory" ng-click="openTicketLogDialog(ticketLog,'ticket-log-view')">
          <td><a href="">{{ticketLog.model.name + "-" + ticketLog.model.id}}</a></td>
          
          <td ng-class="{
            'action-create': ticketLog.action === 'CREATE',
            'action-update': ticketLog.action === 'UPDATE',
            'action-delete': ticketLog.action === 'DELETE'
          }"><div>
            {{ticketLog.action}}
          </div></td>
          <td>{{ ticketLog.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>
            <div class="doneBy">
              <img ng-src="{{ticketLog.doneBy.image}}" alt="" />
              <span>{{ticketLog.doneBy.firstname + " " + ticketLog.doneBy.lastname}}</span>
            </div>
          </td>
        </tr>
      </tbody>
     </table>
  </div>


 </div>
</my-modal>

</section>
