
.myDashboard-header{
 padding: 1rem;
} 

.myDashboard-header h2{
 font-size: 2rem;
 font-weight: 600;
}


.ticket-counts{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.ticket-count{
    display: flex;
   padding: 0.4rem 0;
    align-items: center;
    flex-direction: column;
    width: 8rem;
    border-radius: 5px;
   
}

.ticket-count:nth-of-type(1){
    background: var(--nice-purple);
    color: var(--nice-purple-text);
}

.ticket-count:nth-of-type(2){
    background: var(--nice-blue);
    color : var(--nice-blue-text);
}

.ticket-count:nth-of-type(3){
    background: var(--nice-red);
    color: var(--nice-red-text);
}

.ticket-count:nth-of-type(4){
    background: rgb(250, 225, 179);
    color: var(--nice-orange-text);
}

.ticket-count:nth-of-type(5){
    background: var(--pastel-green);
    color: var(--pastel-green-dark);
}

.ticket-count.bugs{
    background: var(--pastel-neon-green);
    color: var(--pastel-neon-green-dark);
}

.ticket-count.fr{
    background: #BED7DC;
    color:#415d66;
}




.ticket-count-title{
    font-size: 13px;
    font-weight: 700;
}

.ticket-count-value{
    font-size: 2.5rem;
    font-weight: 800;
}

.chart-row{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.status-wise-chart , .priority-wise-chart{
    width: 50%;
    padding: 1rem;
    border-radius: 5px;
    background: var(--white);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.status-wise-chart-wrapper , .priority-wise-chart-wrapper{
    width: 100%;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 padding-right: 3rem;
 align-items: center;
 font-size: 12px;
 gap: 1rem;
}
.pagination i {
 padding: 0.2rem;
 color: var(--pastel-pink);
 font-size: 1rem;
 cursor: pointer;
}

.pagination i.disabled {
 color: grey;
 pointer-events: none;
}


.project-wise-chart{
 padding: 1rem;
 border-radius: 5px;
 background: var(--white);
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 margin: 1rem;

}

.project-wise-chart-wrapper{
 width: 100%;
}