.companycount__card {
 padding: 10px;

 width: 30%;
 min-height: 5rem;
 border-radius: 10px;
}

.companycount__card__count {
 font-size: 2rem;
 font-weight: 600;
}

.companycount__card__title {
 font-size: 12px;
 font-weight: 600;
}

.companycount__card:nth-of-type(1) {
 background: var(--nice-purple);
}

.companycount__card:nth-of-type(2) {
 background: var(--pastel-neon-green);
}

.companycount__card:nth-of-type(3) {
 background: var(--nice-red);
}

.companycount {
 display: flex;
 gap: 2rem;
 align-items: center;
 justify-self: center;
}

.admin-dashboard-company-wrapper {
 display: flex;
 flex-direction: column;
 gap: 2rem;
 padding: 2rem 3rem;
}

label {
 margin-bottom: 0;
 font-weight: 600;
}

.companycount-wrapper {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 justify-content: flex-end;
 flex: 1;
}

.companycountchart-wrapper {
 height: 200px;

}

.companycount-data-map {
 display: flex;
 border: 1px solid #ccc;
 border-radius: 10px;
 padding: 1rem;
 justify-content: space-between;
 align-items: center;
}

.locationWiseCompanyCount__map {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.locationWiseCompanyForm {
 display: flex;
 gap: 1rem;
}

select {
 padding: 0.3rem;
 border-radius: 5px;
 border: 1px solid #ccc;
 width: 10rem;
}

.locationWiseCompanyCount__map__chart {
 height: 30rem;
}

.company-statstab-wrapper {
 display: flex;
 flex-wrap: wrap;
 padding: 1rem;
 flex-direction: column;
 gap: 3rem;
}

.companyWisePeopleChartWrapper,
.companyWiseProjectsChartWrapper {
 width: 100%;

 padding: 1rem;
 display: flex;
 justify-content: center;
}
canvas {
 width: 100%;
}
.companyWisepeople,
.locationWiseCompanyCount {
 width: 48%;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 padding: 1rem;
 height: 30rem;
 background-color: rgb(255, 255, 255);
 border: 1px solid rgb(217, 217, 217);
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
 border-radius: 10px;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 padding-right: 3rem;
 align-items: center;
 font-size: 12px;
 gap: 1rem;
}

.pagination i {
 padding: 0.2rem;
 color: var(--pastel-pink);
 font-size: 1rem;
 cursor: pointer;
}

.pagination i.disabled {
 color: grey;
 pointer-events: none;
}

.graph-wrapper-comp-Analytics {
 display: flex;
 gap: 1rem;
}

.companyTrend-wrapp {
 width: 48%;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 padding: 1rem;
 height: 50vh;
 background-color: rgb(255, 255, 255);
 border: 1px solid rgb(217, 217, 217);
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
 border-radius: 10px;
}
.users-count-wrapper {
 display: flex;
 width: fit-content;
 border: 1px solid #ccc;
 background: white;
 padding: 1rem;
 border-radius: 10px;
}

.user-details {
 display: flex;
 gap: 1rem;
 align-items: center;
}

.user-details img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
}

.usersWithMostProjects-table {
 width: 100%;
}

.usersWithMostProjects-table table {
 width: 100%;
 border-collapse: collapse;
 border: 1px solid #eee;
}

.usersWithMostProjects-table table th {
 text-align: left;
 padding: 0.4rem;
 background: var(--nice-purple);
}

.usersWithMostProjects-table table td {
 padding: 1rem;
 border-bottom: 1px solid #eee;
}

.users-with-most-projects {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 width: 50%;
 padding: 1rem;
 background-color: white;
 border-radius: 10px;
 border: 1px solid #ccc;
}

.mostCount-wrapper {
 width: 48%;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 padding: 1rem;
 /* height: 45vh; */
 background-color: rgb(255, 255, 255);
 border: 1px solid rgb(217, 217, 217);
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
 border-radius: 10px;
 justify-content: space-between;
}

.graph-wrapper {
 display: flex;
 gap: 1rem;
}

.company-statstab-wrapper {
 display: flex;
 flex-wrap: wrap;
 padding: 1rem;
 flex-direction: column;
 gap: 1rem;
}

.project-count__card {
 padding: 10px;
 padding-left: 1rem;
 width: 11rem;
 min-height: 7rem;
 border-radius: 10px;
}

.project-count__card__count {
 font-size: 2.5rem;
 font-weight: 600;
}

.project-count__card__title {
 font-size: 12px;
 font-weight: 600;
}

.project-count__card:nth-of-type(1) {
 background: var(--nice-purple);
}

.project-count__card:nth-of-type(2) {
 background: var(--pastel-neon-green);
}

.project-count__card:nth-of-type(3) {
 background: var(--nice-red);
}

.project-count {
 display: flex;
 gap: 2rem;
 align-items: center;
 flex-wrap: wrap;
 width: 100%;
}

.companyStatTabHeader {
 padding: 1rem;
 border: 1px solid rgb(221, 221, 221);
 border-radius: 10px;
 width: 50%;
 display: flex;
 flex-direction: column;
}
.header-cst {
 display: flex;
 width: 100%;
 align-items: center;
 height: 10rem;
 padding: 2rem;
 margin-top: 2rem;
 justify-content: space-between;
 padding: 1rem;
}

/* ticket realted */

.ticket-statstab-wrapper {
 display: flex;
 flex-wrap: wrap;
 padding: 1rem;
 flex-direction: column;
 gap: 3rem;
}

.ticket-count__card {
 padding: 10px;
 padding-left: 1rem;
 width: 30rem;
 min-height: 20rem;
 border-radius: 10px;
 border: 1px solid #ccc;
}

.ticket-count__card__count {
 font-size: 5rem;
 font-weight: 800;
 text-align: left;
 vertical-align: text-bottom;
}

.ticket-count__card__title {
 font-size: 12px;
 font-weight: 700;
}



.ticket-count__card:nth-of-type(2) {
 background: var(--pastel-neon-green);
}

.ticket-count__card:nth-of-type(3) {
 background: var(--nice-red);
}

.ticket-count {
 display: flex;
 gap: 2rem;
 align-items: center;
 background-image: url("../../../../../assets/success-graph.svg");
 background-position: bottom;
 background-repeat: no-repeat;

 background-size: contain;
}

.date-range-selector .input {
 display: flex;
 gap: 1rem;
 font-size: 14px;
 align-items: center;
}

label {
 margin-bottom: 0;
 font-weight: 600;
}

.date-range-selector form {
 display: flex;
 gap: 1rem;
}

.date-range-selector .input input {
 padding: 0.3rem;
 border-radius: 5px;
 border: 1px solid #ccc;
}

.projectTickstStats-wrapper {
 display: flex;
 gap: 3rem;
}

.systemUsage-wrapper {
 width: 90%;
 display: flex;
 flex-direction: column;
 gap: 2rem;
 padding: 1rem;
 background-color: rgb(255, 255, 255);
 border: 1px solid rgb(217, 217, 217);
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
 border-radius: 10px;
 margin: auto;
}

#systemUsageTimeChart {
 margin: auto;
 
}


@media screen and (max-width:1400px) {
  .projectTickstStats-wrapper{
    flex-direction: column;
  }

  .companyStatTabHeader , .ticketStatTabHeader{
    width: 100%;
  
  }
  .ticket-count__card{
    width: 100%;
  }

  .ticket-count{
   background-size: cover;
  }

  .graph-wrapper{
    flex-direction: column;
  
  }

  .mostCount-wrapper{
    width: 100%;
  
  }
}


@media screen and (max-width: 1170px) {

  .companycount__card  {
    width: fit-content;
  }

  .companycount{
    gap: 1rem;
  }
  .companycount-wrapper h3 {
    font-size: 1.4rem;
   }
  
  .admin-dashboard-company-wrapper {
    padding: 1rem;
  }
  .companycountchart{
    width: 140px;
   }

   .project-count{
    gap: 1rem;
    height: 100%;
   }

   .project-count__card {
    padding: 10px;
    width: 30%;
    min-height: 5rem;
    border-radius: 10px;
   
   }
}


@media screen and (max-width:940px) {
  .companycount-wrapper h3 {
    font-size: 1.4rem;
   }

   .companycount-wrapper{
    width: 100%;
   }

   .project-count{
    gap: 1rem;
   font-size: 10px;
   }

   .project-count{
    gap: 1rem;
    height: 100%;
   }

   .project-count__card__title{
    font-size: 10px;
   }
   
  .companycount-data-map{
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  
  .companycountchart-wrapper{
    margin: auto;
  }

  .systemUsage-wrapper{
    width: 100%;
  
  }
}

@media screen and (max-width: 820px) {
 .companycount__card {
  padding: 5px;
  width: 30%;
  min-height: fit-content;
  border-radius: 10px;
 }

 .companycount-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
 }

 .companycount-wrapper h3 {
  font-size: 1.4rem;
 }

 .companycount__card__count {
  font-size: 1.5rem;
  font-weight: 600;
 }

 .companycount__card__title {
  font-size: 12px;
  font-weight: 600;
 }

 .companycount{
  flex-wrap: wrap;
 }
}
