.wrapper {
 padding: 3rem 1rem;
}

.wrapper .head {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 20px;
 margin-bottom: 20px;
}

.wrapper .head .btn {
 background-color: var(--dark-pink);
 color: white;
 font-weight: 300;
 font-size: 12px;
}

.form-group {
 margin-bottom: 0.5rem;
}

.bi-pencil-fill {
 color: var(--dark-purple);

 cursor: pointer;
}

.form-group label {
 font-size: 14px;
 line-height: 12px;
 margin-bottom: 0;
 font-weight: 400;
 font-weight: 600;
}

.form-control:focus {
 border-color: #000000;
 box-shadow: none;
}

.form-control {
 font-size: 12px;
}

.btn.disabled {
 cursor: not-allowed;
}

form .btn {
 width: 100%;
 margin-top: 1rem;
}

.table {
 /* border: 1px solid #000000; */
 border-spacing: 0;
}

.table th {
 border: none;
 font-size: 14px;
 font-weight: 600;
 color: var(--dark-purple);
 background: var(--light-purple);
 /* display: flex; */
}

.table tr {
 border: none;
 /* display: flex; */
 justify-content: space-evenly;
}

.table td {
 border: none;
 font-size: 12px;
 /* display: flex; */
 vertical-align: middle;
 align-items: center;
 /* border: 1px solid var(--dark-purple); */

 /* white-space: nowrap; */
}

td.action {
 justify-content: flex-end;
 padding-right: 1rem;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.pagination li {
 list-style: none;
 margin: 0 0.5rem;
}

.page-link {
 padding: 0.2rem;
 color: #000000;
}

.page-link:hover {
 padding: 0.2rem;
 color: #000000;
}

li.disabled {
 background: rgb(228, 227, 227);
 pointer-events: none;
}

li.disabled a i {
 pointer-events: none;
 color: #ababab;
}
.pagination-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}
.row-count-wrapper {
 display: flex;
 font-size: 12px;
 align-items: center;
 gap: 0.5rem;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 font-size: 12px;
}

.searchBox {
 display: flex;
 gap: 1rem;
 width: 20rem;
 margin-bottom: 1rem;
}

.searchBox button {
 background-color: var(--dark-pink);
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
}

.table-wrapper {
 overflow-x: auto;
 display: flex;
 flex-direction: column;
}

.content {
 background: #ffffff;
 padding: 1rem;
 margin-top: 4rem;
 border-radius: 10px;
 border: 1px solid rgb(229, 229, 229);
}

.content {
 /* background: #ffffff; */
 padding: 1rem;
 margin-top: 3rem;
 border-radius: 10px;

 /* border: 1px solid rgb(229, 229, 229); */
}
button {
 background-color: var(--dark-pink);
 color: white;
 font-weight: 300;
 font-size: 12px;
}

.error {
 color: red;
 font-size: 12px;
}

.badge {
 width: fit-content;
 padding: 0.2rem 0.5rem;
 border-radius: 5px;
 font-size: 12px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.cur-role {
 display: flex;
 align-items: center;
 padding: 0 5px;
 gap: 0.5rem;
}

.cur-role span {
 font-size: 14px;
 font-weight: 600;
 color: var(--dark-purple);
}

.cur-role span.p {
 font-size: 12px;
 color: var(--dark-purple);
}

#user-active-checkbox{
 display: flex;
 align-items: center;
 gap: 0.5rem;
 height: 1rem;
}

.form-group input[type="checkbox"] {
 padding: 1rem;
 margin-right: 5px; /* Add spacing to the right of the checkbox */
 vertical-align: middle; /* Align the checkbox vertically with the label text */
}

.user-active-wrapper{
 display: flex;
 align-items: center;
 gap: 0.5rem;
 height: 50%;
}

.user-active-wrapper span{
 font-size: 12px;
 font-weight: 600;

}


.date-filter{
 background: transparent;
 font-size: 12px;
 display: flex;
 width: fit-content;
border: 1px solid #ccc;
padding: 4px 10px;
height: fit-content;
border-radius: 5px;
cursor: pointer;
}

.date-filter:hover{
 background: #f1f1f1;
}

.date-filter.active{
 background: var(--dark-pink);
 color: white;
}

.top-bar{
 display: flex;
 align-items: center;
 margin-bottom: 1rem;
 gap: 1rem;
}

.top-bar input{
 width: 20%;

}

.clear-date-option{
 font-size: 16px;
 cursor: pointer;
 border: 1px solid #ccc;
 padding:  4px;
 display: flex;
 align-items: center;
 border-radius: 20px;
 color:red;
}

.clear-date-option:hover{
 background: rgb(244, 206, 206);
}