.company-dashboard {
 display: flex;
}

.sub-view {
 flex: 1;
 max-height: 100vh;
 overflow-y: auto;
}

.company-dashboard-sidebar {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 border-right: 1px solid rgb(184, 183, 183);
 min-height: 100vh;
 width: 14vw;
 padding: 1rem;
}

.company-dashboard-sidebar h4 {
 margin-top: 1rem;
 font-size: 1.2rem;
 font-weight: bold;
 color: var(--dark-pink);
}

.company-dashboard-sidebar-option {
 display: flex;
 gap: 5px;
 font-size: 13px;
 font-weight: 600;
 padding: 7px 1rem;
 cursor: pointer;
}

.company-dashboard-sidebar-option.active {
 background: var(--dark-pink);
 border-radius: 3px;
}

.company-dashboard-sidebar-option:hover {
 background: var(--shadow-purple);
 border-radius: 3px;
 color: black;
}

.sidebar-options {
 display: flex;
 flex-direction: column;
 gap: 1rem;
}
