<section class="project-wrapper">
  <link
    rel="stylesheet"
    href="../../../../Company/tabs/projects/project/project.css"
  />
  <div class="project-header">
    <div class="top">
      <img ng-src="{{projectDetails.logo}}" alt="" />
      <span>{{projectDetails.name }}</span>
    </div>
    <div class="bottom">
      <div class="project-detail">
        <span>{{projectDetails.members.length}} members</span>
      </div>
      <div class="profile-imgs" ng-if="projectDetails.members.length<=20">
        <img
          ng-src="{{person.image}}"
          ng-repeat="person in projectDetails.members"
          alt=""
        />
      </div>
    </div>
    <div class="project-description">
      <span>{{ projectDetails.description.length <= 150 ? projectDetails.description :  showFullDescription ? projectDetails.description : projectDetails.description.substring(0,150) + "..."}}</span>
      <span class="show-more"  ng-show="projectDetails.description.length > 150" ng-click="showFullDescription = !showFullDescription">{{showFullDescription ? "Show Less" : "Show More"}}</span>
    </div>
  </div>
  <div ui-view  class="project-sub-view"></div>
</section>
