<section class="company-project-dashboard">
 <link
  rel="stylesheet"
  href="../../../../Company/tabs/dashboard/projects/projects.dashboard.css"
 />

 <form name="projectAnalyticsForm-date-picker" class="projectAnalyticsForm-date-picker">
  <div class="input">
   <label for="">Start Date</label>
   <input
    type="date"
    name="startDate"
    ng-model="projectAnalyticsSearchData.startDate"
    ng-init="projectAnalyticsSearchData.startDate = formDataInit.startDate"
    ng-change="projectAnalyticsSearchDataChanged()"
    max="{{projectAnalyticsSearchData.endDate |  date:'yyyy-MM-dd'}}"
   />
  </div>
  <div class="input">
   <label for="">End Date</label>
   <input
    type="date"
    name="endDate"
    ng-model="projectAnalyticsSearchData.endDate"
    ng-init="projectAnalyticsSearchData.endDate = formDataInit.endDate"
    ng-change="projectAnalyticsSearchDataChanged()"
    min="{{projectAnalyticsSearchData.startDate |  date:'yyyy-MM-dd'}}"
    max="{{formDataInit.endDate | date:'yyyy-MM-dd'}}"
    id=""
   />
  </div>
 </form>

 <div class="project-count-bar">
  <!-- start end date form -->
  <div class="form-value-container">
    <h3>Projects Count in Company</h3>
   <div class="companycount-dateSelector date-range-selector">
    
   </div>
   <div class="project-counts">
    <div class="project-count">
     <span class="project-count-value">{{dashboardProjects.total}}</span>
     <span class="project-count-title"> Total Projects </span>
    </div>
    <div class="project-count">
     <span class="project-count-value">{{dashboardProjects.inProgress}}</span>
     <span class="project-count-title"> InProgress </span>
    </div>
    <div class="project-count">
     <span class="project-count-value">{{dashboardProjects.complete}}</span>
     <span class="project-count-title"> Completed </span>
    </div>
   </div>
  </div>

  <div class="project-count-chart-wrapper">
   <canvas id="projectsCountChart"></canvas>
  </div>
 </div>

<div class="chart-row">
 <div class="project-wise-users">
  <h3>Project Wise Users</h3>
  <div class="project-wise-users-display">
   <div class="project-wise-users-chart-wrapper">
     <canvas id="projectWiseUsersChart"></canvas>
   </div>
   <div class="pagination">
    <div class="pagination__pageCount">
     <span>Page</span>
     <span>{{pwuPage}}</span>
     <span>of</span>
     <span>{{totalPagesInPWU}}</span>
    </div>

    <i
     ng-disabled="pwuPage <= 1"
     ng-click="projectWiseUsersPageChange(pwuPage - 1)"
     class="bi-arrow-left-square-fill"
     ng-class="{disabled:pwuPage<=1}"
    ></i>
    <i
     class="bi-arrow-right-square-fill"
     ng-disabled="pwuPage >= totalPagesInPWU"
     ng-click="projectWiseUsersPageChange(pwuPage + 1)"
     ng-class="{disabled:pwuPage>=totalPagesInPWU}"
    ></i>
   </div>
  </div>
</div>

<div class="tickets-in-project">
 <h3>Tickets Type in Projects</h3>
 <div class="tickets-in-project-display">
  <div class="tickets-in-project-chart-wrapper">
   <canvas id="ticketsInProjectChart"></canvas>
  </div>
  <div class="pagination">
    <div class="pagination__pageCount">
     <span>Page</span>
     <span>{{pwtPage}}</span>
     <span>of</span>
     <span>{{totalPagesInPWT}}</span>
    </div>

    <i
     ng-disabled="pwtPage <= 1"
     ng-click="projectWiseTicketsPageChange(pwtPage - 1)"
     class="bi-arrow-left-square-fill"
     ng-class="{disabled:pwtPage <= 1}"
    ></i>
    <i
     class="bi-arrow-right-square-fill"
     ng-disabled="pwtPage >= totalPagesInPWT"
     ng-click="projectWiseTicketsPageChange(pwtPage + 1)"
     ng-class="{disabled:pwtPage>=totalPagesInPWT}"
    ></i>
   </div>
 </div>
</div>
</div>

<div class="chart-row">
  <div class="project-wise-users">
   <h3>Project Completion Time</h3>
   <div class="project-wise-users-display">
    <div class="project-wise-users-chart-wrapper">
      <canvas id="projectCompletionTimeChart"></canvas>
    </div>
    <div class="pagination">
     <div class="pagination__pageCount">
      <span>Page</span>
      <span>{{pctPage}}</span>
      <span>of</span>
      <span>{{totalPagesInPCT}}</span>
     </div>
 
     <i
      ng-disabled="pctPage <= 1"
      ng-click="projectWiseCTPageChange(pctPage - 1)"
      class="bi-arrow-left-square-fill"
      ng-class="{disabled:pctPage<=1}"
     ></i>
     <i
      class="bi-arrow-right-square-fill"
      ng-disabled="pctPage >= totalPagesInPCT"
      ng-click="projectWiseCTPageChange(pctPage + 1)"
      ng-class="{disabled:pctPage>=totalPagesInPCT}"
     ></i>
    </div>
   </div>
 </div>
 
 <div class="project-wise-users">
  <h3>Project Wise Pending Tickets</h3>
  <div class="project-wise-users-display">
   <div class="project-wise-pending-tickets-wrapper">
     <canvas id="projectWisePendingTickets"></canvas>
   </div>
   <div class="pagination">
    <div class="pagination__pageCount">
     <span>Page</span>
     <span>{{pWPtPage}}</span>
     <span>of</span>
     <span>{{totalPagesInPWPT}}</span>
    </div>

    <i
     ng-disabled="pWPtPage <= 1"
     ng-click="projectWisePendingTPageChange(pWPtPage - 1)"
     class="bi-arrow-left-square-fill"
     ng-class="{disabled:pWPtPage<=1}"
    ></i>
    <i
     class="bi-arrow-right-square-fill"
     ng-disabled="pWPtPage >= totalPagesInPWPT"
     ng-click="projectWisePendingTPageChange(pWPtPage + 1)"
     ng-class="{disabled:pWPtPage>=totalPagesInPWPT}"
    ></i>
   </div>
  </div>
</div>

 </div>

 </div>


</section>
