.companycount__card {
 padding: 10px;

 width: 15rem;
 min-height: 5rem;
 border-radius: 10px;
}

.companycount__card__count {
 font-size: 2.5rem;
 font-weight: 600;
}

.companycount__card__title {
 font-size: 12px;
 font-weight: 600;
}

.companycount__card:nth-of-type(1) {
 background: var(--nice-purple);
}

.companycount__card:nth-of-type(2) {
 background: var(--pastel-neon-green);
}

.companycount__card:nth-of-type(3) {
 background: var(--nice-red);
}

.companycount {
 display: flex;
 gap: 2rem;
 align-items: center;
}

.admin-dashboard-company-wrapper {
 display: flex;
 flex-direction: column;
 gap: 2rem;
 padding: 2rem 3rem;
}


.date-range-selector .input {
 display: flex;
 gap: 1rem;
 font-size: 14px;
 align-items: center;
}

label {
 margin-bottom: 0;
 font-weight: 600;
}

.date-range-selector form {
 display: flex;
 gap: 1rem;
}

.date-range-selector .input input {
 padding: 0.3rem;
 border-radius: 5px;
 border: 1px solid #ccc;
}

.companycount-wrapper {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 justify-content: flex-end;
}

.companycountchart-wrapper {
 height: 200px;
 width: 300px;
}

.companycount-data-map {
 display: flex;
 border: 1px solid #ccc;
 border-radius: 10px;
 padding: 1rem;
 justify-content: space-between;
 align-items: center;
}

.locationWiseCompanyCount__map {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.locationWiseCompanyForm {
 display: flex;
 gap: 1rem;
}

select {
 padding: 0.3rem;
 border-radius: 5px;
 border: 1px solid #ccc;
 width: 10rem;
}

.locationWiseCompanyCount__map__chart {
 height: 30rem;
}

.company-statstab-wrapper {
 display: flex;
 flex-wrap: wrap;
 padding: 1rem;
 flex-direction: column;
 gap: 3rem;
}

.companyWisePeopleChartWrapper,
.companyWiseProjectsChartWrapper {
 width: 100%;

 padding: 1rem;
 display: flex;
 justify-content: center;
}
canvas {
 width: 100%;
}
.companyWisepeople , .locationWiseCompanyCount{
 width: 48%;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 padding: 1rem;
 height: 30rem;
 background-color: rgb(255, 255, 255);
 border: 1px solid rgb(217, 217, 217);
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
 border-radius: 10px;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 padding-right: 3rem;
 align-items: center;
 font-size: 12px;
 gap: 1rem;
}

.pagination i {
 padding: 0.2rem;
 color: var(--pastel-pink);
 font-size: 1rem;
 cursor: pointer;
}

.pagination i.disabled {
 color: grey;
 pointer-events: none;
}

.graph-wrapper-comp-Analytics {
 display: flex;
 gap: 1rem;
}

.companyTrend-wrapp {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .projectTrend-wrapp {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .trendsChart-wrapper{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }


  .trendCountForm{
    display: flex;
    gap: 1rem;
    padding: 0;
  }

  .trendCountForm input{
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .chart-option-picker{
    display: flex;
    gap: 1rem;
  }


  @media screen and (max-width:1350px) {
    .admin-dashboard-company-wrapper{
      padding: 1rem;
    }

    .projectTrend-wrapp,.companyTrend-wrapp{
      width: 100%;
      height: fit-content;
    }
  }

  @media screen and (max-width:1100px) {
  
    .trendCountForm{
      display: flex;
      gap: 1rem;
      padding: 0;
    }
    
    .trendCountForm label{
      font-size: 12px;
    }

    .trendCountForm input{
      padding: 0.3rem;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 12px;
    }

    select{
      width: 7rem;
      font-size: 12px;
    }
  
    .chart-option-picker{
      display: flex;
      gap: 1rem;
    }

    .admin-dashboard-company-wrapper{
      padding: 1rem;
    }
     
  }

  @media screen and (max-width:920px) {
    .chart-option-picker{
      flex-direction: column;
    }
  }