.wrapper {
 padding: 3rem 1rem;
 width: 100%;
}

.wrapper .head {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 20px;
 margin-bottom: 20px;
}

.wrapper .head .btn {
 background-color: var(--dark-pink);
 color: white;
 font-weight: 300;
 font-size: 12px;
}

.form-group {
 margin-bottom: 0.5rem;
}

.form-group label {
 font-size: 14px;
 line-height: 12px;
 margin-bottom: 0;
 font-weight: 400;
 font-weight: 600;
}

.form-control:focus {
 border-color: #000000;
 box-shadow: none;
}

.form-control {
 font-size: 12px;
}

.btn.disabled {
 cursor: not-allowed;
}

form .btn {
 width: 100%;
 margin-top: 1rem;
}

.table {
 /* border: 1px solid #000000; */
 border-spacing: 0;
}

.table th {
 border: none;
 font-size: 14px;
 font-weight: 600;
 color: var(--dark-purple);
 background: var(--light-purple);
 /* display: flex; */
}

.table tr {
 border: none;
 /* display: flex; */
 justify-content: space-evenly;
}

.table td {
 border: none;
 font-size: 12px;
 /* display: flex; */
 vertical-align: middle;
 align-items: center;
 /* border: 1px solid var(--dark-purple); */

 /* white-space: nowrap; */
}

td.action {
 justify-content: flex-end;
 padding-right: 1rem;
 cursor: pointer;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.pagination li {
 list-style: none;
 margin: 0 0.5rem;
}

.page-link {
 padding: 0.2rem;
 color: #000000;
}

.page-link:hover {
 padding: 0.2rem;
 color: #000000;
}

li.disabled {
 background: rgb(228, 227, 227);
 pointer-events: none;
}

li.disabled a i {
 pointer-events: none;
 color: #ababab;
}
.pagination-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}
.row-count-wrapper {
 display: flex;
 font-size: 12px;
 align-items: center;
 gap: 0.5rem;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 font-size: 12px;
}

.searchBox {
 display: flex;
 gap: 1rem;
 width: 20rem;
 margin-bottom: 1rem;
}

.searchBox button {
 background-color: var(--dark-pink);
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
}

.table-wrapper {
 overflow-x: auto;
 display: flex;
 flex-direction: column;
}

.content {
 background: #ffffff;
 padding: 1rem;
 margin-top: 4rem;
 border-radius: 10px;
 border: 1px solid rgb(229, 229, 229);
}

.content {
 /* background: #ffffff; */
 padding: 1rem;
 margin-top: 3rem;
 border-radius: 10px;

 /* border: 1px solid rgb(229, 229, 229); */
}
button {
 background-color: var(--dark-pink);
 color: white;
 font-weight: 300;
 font-size: 12px;
}

.error {
 color: red;
 font-size: 12px;
}

.select-multiple-wrapper {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
 width: 100%;
}
.select2-results__option--selected {
 display: none;
}

.select2-container--classic
 .select2-selection--multiple
 .select2-selection__choice {
 background-color: white;
 display: flex;
 align-items: center;
 width: fit-content;
}

.select2-container--classic .select2-search--inline .select2-search__field {
 font-size: 12px;
 display: flex;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
 display: flex;
 flex-wrap: wrap;
}
.select2-selection__choice img {
 width: 20px;
 height: 20px;
 border-radius: 50%;
}

.badge {
 width: fit-content;
 padding: 0.2rem 0.3rem;
 border-radius: 5px;
 font-size: 9px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.extra-member {
 font-size: 12px;
 /* color: var(--dark-pink); */
 margin-left: 1rem;
}

.avatar {
 width: 30px;
 height: 30px;
 border-radius: 50%;
 object-fit: cover;
}

.member-avatar-container {
 display: flex;
 align-items: center;
}

.member-avatar-container .avatar {
 margin-right: -1.3rem;
}

.logoPreview {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 1rem;
 gap: 1rem;
 height: 4rem;
 width: 4rem;
 border: 1px solid var(--dark-purple);
}

.logoPreview img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.selected-members {
 display: flex;
 gap: 0.5rem;
 align-items: center;
 flex-wrap: wrap;
}

.selected-members .badge {
 width: fit-content;
 /* height: 20px; */
 border-radius: 3px;
 object-fit: cover;
 font-weight: 400;
 font-size: 13px;
 border: 1px solid var(--dark-purple);
 display: flex;
 align-items: center;
 gap: 0.5rem;
}

.selected-members .badge i {
 cursor: pointer;
 color: rgb(233, 64, 64);
}

.avatar-count {
 font-size: large;
 color: var(--dark-pink);
 margin: 1.2rem;
}

.select2-selection__choice__remove {
 width: auto;
}

.error-container{
 display: flex;
 gap: 0.4rem;
 flex-direction: column;
}

.logopreview-wrapper{
 display: flex;
 gap: 1rem;
 align-items: center; 
 margin: 1rem 0;
}

.logopreview-wrapper > button{
 height: fit-content;
 cursor: pointer;
 border : none;
 outline: none;
 width: fit-content;
}

.logopreview-wrapper > button.disabled{
 cursor: not-allowed;
 color: pink;
}
