<section class="ticket-section-wrapper">
 <link
  rel="stylesheet"
  href="../../../../../Company/tabs/projects/project/ticket/ticket.css"
 />
 <div class="header">
  <h3>Tickets</h3>
  <button class="btn" ng-click="launchModal('addTicketModal')" ng-show="profile.role.permissionSet.permissions.TICKET.CREATE">
   Create Ticket
  </button>
 </div>
 <my-modal modal-size="lg" modal-id="addTicketModal" title="Add Ticket">
  <form
   class="addticketForm"
   name="addTicketForm"
   ng-submit="addTicketFormSubmit('addTicketModal',addTicketForm)"
   novalidate

  >
   <!-- select for project -->
   <div class="form-group">
    <label for="project">Project*</label>
    <div
     class="form-control"
     id="project-selected"
    >
    <img ng-src="{{projectDetails.logo}}" alt="">
    <span>{{projectDetails.name}}</span>
   </div>
    <div
     class="error"
     ng-show="addTicketForm.project.$error.required && addTicketForm.project.$touched"
    >
     Project is required
    </div>
   </div>

   <div class="form-group">
    <label for="ticketTitle">Title*</label>
    <input
     type="text"
     class="form-control"
     id="ticketTitle"
     name="ticketTitle"
     ng-model="addTicketFormData.title"
     ng-required="true"
    />
    <div
     class="error"
     ng-show="addTicketForm.ticketTitle.$error.required && addTicketForm.ticketTitle.$touched"
    >
     Ticket Title is required
    </div>
   </div>
   <div class="form-group">
    <label for="ticketDescription">Description</label>
    <textarea
     class="form-control"
     id="ticketDescription"
     name="ticketDescription"
     ng-model="addTicketFormData.description"
    ></textarea>
   </div>
   <div class="form-row">
    <div class="form-group col">
     <label for="ticketType">Ticket Type*</label>
     <select
      class="form-control"
      id="ticketType"
      name="ticketType"
      ng-model="addTicketFormData.ticketType"
      ng-options="type for type in ['BUG', 'FR']"
      ng-required="true"
      ng-init="addTicketFormData.ticketType = 'BUG'"
     ></select>
     <div
      class="error"
      ng-show="addTicketForm.ticketType.$error.required && addTicketForm.ticketType.$touched"
     >
      Ticket Type is required
     </div>
    </div>
    <div class="form-group col">
     <label for="ticketStatus">Status*</label>
     <select
      type="text"
      class="form-control"
      id="ticketStatus"
      name="ticketStatus"
      ng-options="status for status in ['OPEN', 'IN PROGRESS', 'IN REVIEW' ,'CLOSED']"
      ng-model="addTicketFormData.status"
      ng-required="true"
      ng-init="addTicketFormData.status = 'OPEN'"
     />
     <div
      class="error"
      ng-show="addTicketForm.ticketStatus.$error.required && addTicketForm.ticketStatus.$touched"
     >
      Ticket Status is required
     </div>
    </div>
   </div>

   <div class="form-row"">
    <div class="form-group reporterClient">
     <label for="reporterClient">Reporter Client</label>
     <input
      type="text"
      class="form-control"
      id="reporterClient"
      name="reporterClient"
      ng-model="addTicketFormData.reporterClient"
      ng-required="true"
      ng-init="addTicketFormData.reporterClient = profile.firstname + ' ' + profile.lastname"
     />
     <div
      class="error"
      ng-show="addTicketForm.reporterClient.$error.required && addTicketForm.reporterClient.$touched"
     >
      Reporter Client is required
     </div>
    </div>
   </div>
   <div class="form-row">
    <div class="form-group col select-multiple-wrapper">
     <label for="members">Assignees</label>

     <select
      class="form-control"
      id="assignees"
      name="assignees"
      ng-model="addTicketFormData.assignees"
      ng-required="true"
      multiple
      select2-init
      close-on-select="false"
      style="width: 100%"
      placeholder="Select Assignees"
     >
      <option
       ng-value="{'_id': person._id, 'firstname': person.firstname, 'lastname' : person.lastname , 'email': person.email , 'image': person.image}"
       data-image="{{person.image}}"
       ng-repeat="person in membersInProject"
      >
       {{person.firstname + " " + person.lastname}}
      </option>
     </select>
    </div>
   </div>
   <div class="form-row">
    <!-- priority and dueDate -->
    <div class="form-group col">
     <label for="ticketPriority">Priority*</label>
     <select
      class="form-control"
      id="ticketPriority"
      name="ticketPriority"
      ng-model="addTicketFormData.priority"
      ng-options="priority for priority in ['LOW', 'MEDIUM', 'HIGH']"
      ng-required="true"
      ng-init="addTicketFormData.priority = 'LOW'"
     ></select>
     <div
      class="error"
      ng-show="addTicketForm.ticketPriority.$error.required && addTicketForm.ticketPriority.$touched"
     >
      Ticket Priority is required
     </div>
    </div>
    <div class="form-group col">
     <label for="dueDate">Due Date*</label>
     <input
      type="date"
      class="form-control"
      id="dueDate"
      name="dueDate"
      ng-model="addTicketFormData.dueDate"
      ng-required="true"
      min="{{minDueDate | date:'yyyy-MM-dd'}}"
     />
     <div
      class="error"
      ng-show="addTicketForm.dueDate.$error.required && addTicketForm.dueDate.$touched"
     >
      Ticket due date is required
     </div>
    </div>
   </div>

   <div class="form-row">
    <!-- attachments -->
    <div class="form-group col">
     <label for="attachments">Attachments</label>
     <input
      multiple
      type="file"
      class="form-control"
      id="attachments"
      name="attachments"
      ng-model="addTicketFormData.attachments"
      file-model="addTicketFormData.attachments"
     />

     <div id="file-preview-container">
      <div ng-repeat="preview in addTicketFormData.attachmentsPreview">
       <div ng-if="isImage(preview)">
        <img ng-src="{{preview.url}}" alt="attachments-preview" />
       </div>
       <div ng-if="!isImage(preview)">
        <a class="file-link" ng-href="{{preview.url}}" target="_blank">
         <i class="bi-file-earmark-check"></i>
        </a>
       </div>
       <!-- Handle other file types -->
      </div>
     </div>
    </div>
   </div>
   <div class="formerror">
    <div
     class="error"
     ng-show="addTicketForm.$invalid && addTicketForm.$submitted"
    >
     {{addTicketForm.errorMessage}}
    </div>
   </div>

   <button type="submit" ng-disabled="ticketFormSubmitted" class="btn btn-primary">Submit</button>
  </form>
 </my-modal>

 <div class="tickets-container">
  <div class="topbar">
   <div class="searchBox">
    <input
     type="text"
     class="form-control"
     placeholder="Search"
     ng-model="searchTicket"
     ng-change="debounceSearch()"
    />
   </div>

   <div
   class="basic-filter"
     ng-click="basicFilterSelected({ filterType : 'myTickets' , filterValue : 'My Tickets' , displayValue : 'My Tickets' })"
     ng-class="{'active' : myTicketsFilter}"
   >
   My Tickets
  </div>

   <div class="select-filter-type">
    <select
    class="form-control"
    id="filterType"
    name="filterType"
    ng-model="selectedFilterType"
    ng-init="selectedFilterType = 'status'"
  >
    <option value="status" ng-selected="selectedFilterType === 'status'">Status</option>
    <option value="ticketType" ng-selected="selectedFilterType === 'ticketType'">Ticket Type</option>
    <option value="priority" ng-selected="selectedFilterType === 'priority'">Priority</option>
   
  </select>
   </div>

   <div class="basic-filters">
    <div
     class="basic-filter"
     ng-click="basicFilterSelected(filterOption)"
     ng-class="{'active' : filterOption.filterValue === selectedBasicFilter.filterValue}"
     ng-if="filterOption.filterType === selectedFilterType"
     ng-repeat="filterOption in [
    { filterType: 'status', filterValue: 'OPEN' , displayValue:'OPEN'},
    { filterType: 'status', filterValue: 'IN PROGRESS' , displayValue:'IN PROGRESS' },
    { filterType: 'status', filterValue: 'IN REVIEW' , displayValue:'IN REVIEW' },
    { filterType: 'status', filterValue: 'CLOSED' , displayValue:'CLOSED' },
    { filterType: 'ticketType', filterValue: 'BUG' , displayValue:'BUG' },
    { filterType: 'ticketType', filterValue: 'FR' , displayValue:'FR' },
    { filterType: 'priority', filterValue: 'LOW' , displayValue:'LOW' },
    { filterType: 'priority', filterValue: 'MEDIUM' , displayValue:'MEDIUM' },
    { filterType: 'priority', filterValue: 'HIGH' , displayValue:'HIGH' },
    
]"
    >
    <span >
      {{filterOption.displayValue}}
    </span>
    </div>
    <!-- clear filter -->
    <div
     class="clear-filter"
     ng-click="clearFilter()"
     ng-show="selectedBasicFilter.filterValue"
    >
        <i class="bi-x"></i>
    </div>
   </div>
  </div>

  <div class="tickets-wrapper">
  
   <div
    class="ticket"
    ng-class="{'pending' : checkIfTicketIsPending(ticket)}"
    ng-click="viewTicket('viewTicketModal',ticket)"
    ng-repeat="ticket in ticketsData.tickets"
   >

    <div class="ticket-header">

     <div class="ticket-title">
      <span>{{ticket.name}}</span>
      <!-- ticket assignees -->

      <div class="assignees" ng-if="ticket.assignees.length<4">
       <img
        ng-src="{{assignee.image}}"
        ng-repeat="assignee in ticket.assignees"
        alt=""
       />
      </div> 

      <div class="assignees" ng-if="ticket.assignees.length>=4">
        <img
         ng-src="{{ticket.assignees[0].image}}"
         alt=""
        />
        <span>+{{ticket.assignees.length - 1}}</span>
       </div>
     </div>
     <div
      class="ticket-status"
      ng-class="{ 'status-open': ticket.status ===
     'OPEN', 'status-in-progress': ticket.status === 'IN PROGRESS',
     'status-in-review': ticket.status === 'IN REVIEW', 'status-closed':
     ticket.status === 'CLOSED'}"
     >
      <span class="status" ng-class="ticket.status">{{ticket.status}}</span>
     </div>
    </div>
    <div class="ticket-body">{{ ticket.title | limitTo:80 }}</div>
    <div class="ticket-footer">
     <div class="footer-left">
      <div
       class="ticket-priority"
       ng-class="{ 
      'priority-low': ticket.priority === 'LOW',
      'priority-medium': ticket.priority === 'MEDIUM',
      'priority-high': ticket.priority === 'HIGH'
  }"
      >
       <span>{{ ticket.priority }}</span>
      </div>
      <div
       class="ticket-type"
       ng-class="{ 
      'type-bug': ticket.ticketType === 'BUG',
      'type-fr': ticket.ticketType === 'FR',
  }"
      >
       <span> {{ticket.ticketType}}</span>
      </div>
     </div>
     <div class="ticket-due-date">
      <span> {{ticket.dueDate | date:'dd-MM-yyyy'}}</span>
     </div>
    </div>
   </div>
   <div class="pagination-wrapper">
    <div class="row-count-wrapper">
     <span>Rows per page:</span>
     <select
      ng-model="ticketsData.pageSize"
      ng-options="size for size in [5,10,15,20]"
      ng-change="pageChange(1,ticketsData.pageSize)"
     ></select>
    </div>
    <ul class="pagination">
     <li
      class="page-item"
      ng-class="{'disabled':ticketsData.pageNo === 1}"
      ng-click="pageChange(ticketsData.pageNo - 1,ticketsData.pageSize)"
     >
      <a class="page-link"> <i class="bi-caret-left-fill"></i></a>
     </li>
     <span>{{ticketsData.pageNo}}/{{ticketsData.totalPages}}</span>

     <li
      class="page-item"
      ng-class="{'disabled':ticketsData.pageNo === ticketsData.totalPages}"
      ng-click="pageChange(ticketsData.pageNo + 1,ticketsData.pageSize)"
     >
      <a class="page-link"><i class="bi-caret-right-fill"></i></a>
     </li>
    </ul>
   </div>
  </div>
 </div>
 <my-modal
  modal-size="md"
  class="ticketmodel"
  modal-id="viewTicketModal"
  title="{{viewTicketDetails.name}}"
 >
  <form
   name="editTicketForm"
   ng-submit="editTicketSubmit('viewTicketModal',editTicketForm)"
   novalidate
  >
   <div class="ticket-view-wrapper">
    <div class="header">
     <div class="title" ng-if="!(isEditing && checkTicketEditAccess(false))" >{{viewTicketDetails.title}}</div>
     <input type="text" ng-model="viewTicketDetails.title" ng-if="isEditing && checkTicketEditAccess(false)"
     class="form-control" id="ticketTitle" name="ticketTitle" ng-required="true"
     / >
     <div class="error">
      <div class="error" ng-show="editTicketForm.ticketTitle.$error.required">
       Ticket Title is required
      </div>
     </div>
     <div class="header-bottom">
      <div class="badges">
       <div
        class="badge"
        ng-class="{ 'status-open': viewTicketDetails.status ===
                   'OPEN', 'status-in-progress': viewTicketDetails.status === 'IN PROGRESS',
                   'status-in-review': viewTicketDetails.status === 'IN REVIEW', 'status-closed':
                   viewTicketDetails.status === 'CLOSED'}"
       >
        <span class="status" ng-class="ticket.status"
         >{{viewTicketDetails.status}}</span
        >
       </div>
       <div
        class="badge"
        ng-class="{'priority-low': viewTicketDetails.priority === 'LOW', 'priority-medium': viewTicketDetails.priority === 'MEDIUM', 'priority-high': viewTicketDetails.priority === 'HIGH'}"
       >
        {{viewTicketDetails.priority + " " + "Priority" }}
       </div>
       <div
        class="badge"
        ng-class="{'type-bug': viewTicketDetails.ticketType === 'BUG', 'type-fr': viewTicketDetails.ticketType === 'FR'}"
       >
        <span>{{viewTicketDetails.ticketType}}</span>
       </div>
      </div>

      <!-- <div class="assignees-imgs"> -->
      <!-- <img
                 ng-src="{{assignee.image}}"
                 ng-repeat="assignee in viewTicketDetails.assignees"
                 alt=""
                /> -->
      <!-- </div> -->
      <i
       class=""
       ng-class="{'active-edit bi-eraser-fill': isEditing , 
         'bi-pencil-square': !isEditing
     }"
       ng-click="editTicketToggle('viewTicketModal')"
      ></i>
     </div>
    </div>
    <div class="tv-body">
     <div class="select-row">
      <div class="select-col">
       <label for="ticketType"> Ticket Type </label>

       <select
        class="form-select"
        id="ticketType"
        name="ticketType"
        ng-model="viewTicketDetails.ticketType"
        ng-required="true"
        ng-change="setReporterClient()"
        ng-class="{
               'type-bug': viewTicketDetails.ticketType === 'BUG',
               'type-fr': viewTicketDetails.ticketType === 'FR',
               'disabled': !isEditing || !checkTicketEditAccess(false)
              }"
       >
        <option
         data-icon='<i class="bi bi-funnel"></i> '
         ng-value="type.name"
         ng-repeat="type in [{name:'BUG',icon:'&#128030;'}, {name:'FR',icon:'&#128293;'}]"
        >
         <div>{{type.icon}}</div>
         {{ type.name }}
        </option>
       </select>
      </div>
      <div class="select-col">
       <label for="ticketType"> Status </label>

       <select
        class="form-select"
        id="ticketStatus"
        name="ticketStatus"
        ng-model="viewTicketDetails.status"
        ng-required="true"
        ng-class="
              {
               'status-open': viewTicketDetails.status === 'OPEN',
               'status-in-progress': viewTicketDetails.status === 'IN PROGRESS',
               'status-in-review': viewTicketDetails.status === 'IN REVIEW',
               'status-closed': viewTicketDetails.status === 'CLOSED',
               'disabled': !isEditing
              }"
       >
        <option
         data-icon='<i class="bi bi-funnel"></i> '
         ng-value="status"
         ng-repeat="status in ['OPEN', 'IN PROGRESS', 'IN REVIEW' ,'CLOSED']"
        >
         &nbsp; &#x25cf; &#8197;{{ status }}
        </option>
       </select>
      </div>
      <div class="select-col">
       <label for="ticketType"> Priority </label>

       <select
        class="form-select"
        id="priority"
        name="priority"
        ng-model="viewTicketDetails.priority"
        ng-required="true"
        ng-class="
                {
                 'priority-low': viewTicketDetails.priority === 'LOW',
                 'priority-medium': viewTicketDetails.priority === 'MEDIUM',
                 'priority-high': viewTicketDetails.priority === 'HIGH',
                 'disabled': !isEditing || !checkTicketEditAccess(false)
                }"
       >
        <option
         data-icon='<i class="bi bi-funnel"></i> '
         ng-value="priority"
         ng-repeat="priority in ['LOW', 'MEDIUM', 'HIGH']"
        >
         &nbsp; &#x25cf; &#8197;{{ priority }}
        </option>
       </select>
      </div>
     </div>

     <div class="select-row">
      <div class="select-col">
       <label for="ticketType"> Due Date </label>
       <input
        type="date"
        class="form-control"
        id="dueDate"
        name="dueDate"
        ng-model="viewTicketDetails.dueDate"

        min="{{minDueDate | date:'yyyy-MM-dd'}}"
        ng-disabled="!isEditing || !checkTicketEditAccess(false)"
       />
      </div>
      <div
       class="select-col fr-type"
       
      >
       <div class="created-by">
        <span>Created By : </span>

        <div>
         <img
          class="user-img"
          ng-src="{{viewTicketDetails.assignedBy.image}}"
          alt=""
         />
         <span
          >{{viewTicketDetails.assignedBy.firstname + " " + (viewTicketDetails.assignedBy.lastname  !==  undefined ? viewTicketDetails.assignedBy.lastname : '' )
           }}</span
         >
        </div>
       </div>
       <div class="created-by">
        <span>Reporter Client : </span>

        <div>
         <span>{{viewTicketDetails.reporterClient }}</span>
        </div>
       </div>
      </div>
     </div>

     <div class="description">
      <label for="ticketDescription">Description</label>
      <textarea
       class="form-control description-content"
       id="ticketDescription"
       name="ticketDescription"
       ng-model="viewTicketDetails.description"
       ng-if="isEditing"
      ></textarea>
      <div class="description-content" ng-if="!isEditing">
       <p>{{viewTicketDetails.description}}</p>
      </div>
     </div>

     <div class="attachments">
      <label for="attachments">Attachments</label>
      <input
       multiple
       type="file"
       class="form-control"
       id="attachments"
       name="attachments"
       ng-model="viewTicketDetails.attachments"
       file-model="viewTicketDetails.attachments"
       ng-if="isEditing"
      />
      <div id="file-preview-container">
       <div
        class="preview-wrap"
        ng-repeat="preview in viewTicketDetails.previousAttachments"
       >
        <div ng-if="isImageUrl(preview)">
         <img ng-src="{{preview}}" alt="attachments-preview" />
        </div>
        <div ng-if="!isImageUrl(preview)">
         <a class="file-link" ng-href="{{preview}}" target="_blank">
          <i class="bi-file-earmark-check"></i>
         </a>
        </div>
        <!-- remove btn -->

        <div
         class="remove-btn"
         ng-if="isEditing"
         ng-click="removeAttachment(preview)"
        >
         <i class="bi bi-x"></i>
        </div>
       </div>
       <div
        class="preview-wrap"
        ng-repeat="preview in viewTicketDetails.attachmentsPreview"
       >
        <div ng-if="isImage(preview)">
         <img ng-src="{{preview.url}}" alt="attachments-preview" />
        </div>
        <div ng-if="!isImage(preview)">
         <a class="file-link" ng-href="{{preview.url}}" target="_blank">
          <i class="bi-file-earmark-check"></i>
         </a>
        </div>
       </div>
      </div>
     </div>

     <!-- add new assignees -->
     <div class="new-assignees" ng-if="isEditing && checkTicketEditAccess(false)">
      <div class="form-group select-multiple-wrapper">
       <label for="members">Add New Assignees</label>
       <select
        class="form-control"
        id="assigneesEdit"
        name="assignees"
        ng-model="viewTicketDetails.assignees"
        multiple
        select2-init
        close-on-select="false"
        style="width: 100%"
        placeholder="Select Assignees"
       >
        <option
         ng-value="{'_id': person._id, 'firstname': person.firstname, 'lastname' : person.lastname , 'email': person.email , 'image': person.image}"
         data-image="{{person.image}}"
         ng-repeat="person in membersInProject"
         ng-if="!isAssigneeSelected(person)"
        >
         {{person.firstname + " " + (person.lastname !== 'undefined' ? person.lastname : '')}}
        </option>
       </select>
      </div>
     </div>

     <div class="assignees-preview">
      <label for="assignees">Assignees</label>
      <div class="assignees-preview-wrapper">
       <div
        class="assignee"
        ng-repeat="assignee in viewTicketDetails.alreadyAssigned"
       >
        <img ng-src="{{assignee.image}}" alt="" />
        <span>{{assignee.firstname + " " + (assignee.lastname !== 'undefined'  ? assignee.lastname : '' )}}</span>

        <!-- reomove -->
        <div
         class="remove-btn"
         ng-if="isEditing && checkTicketEditAccess(false)"
         ng-click="removeAssignee(assignee)"
        >
         <i class="bi bi-x"></i>
        </div>
       </div>
      </div>
     </div>

     <div ng-if="isEditing" class="formerror">
      <div
       class="error"
       ng-show="editTicketForm.$invalid && editTicketForm.$submitted"
      >
       {{editTicketForm.errorMessage}}
      </div>
     </div>

     <div ng-if="isEditing" class="footer">
      <button ng-disabled="editTicketForm.$invalid" type="submit">
       Update
      </button>
     </div>
    </div>
   </div>
  </form>
 </my-modal>
</section>
