.ticket-section-wrapper {
 display: flex;
 flex-direction: column;
 padding: 1rem;
}

.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header input {
 font-size: 1rem;
 font-weight: 600;
}

.addticketForm {
 padding: 0.5rem;
}

.ticket-section-wrapper .btn {
 padding: 0.2rem 0.7rem;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 font-size: 14px;
 background: var(--dark-pink);
 color: white;
}

.select-multiple-wrapper {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
 width: 100%;
}

.select2-selection--single {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
 width: 100%;
}
.select2-results__option--selected {
 display: none;
}

.select2-container--classic
 .select2-selection--multiple
 .select2-selection__choice {
 background-color: white;
 display: flex;
 align-items: center;
 width: fit-content;
}

.select2-container--classic .select2-search--inline .select2-search__field {
 display: flex;
 font-size: 12px;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
 display: flex;
 flex-wrap: wrap;
}
.select2-selection__choice img {
 width: 20px;
 height: 20px;
 border-radius: 50%;
 margin-right: 5px;
}

.form-group {
 margin-bottom: 0.2rem;
}

.form-group label {
 font-size: 14px;
 line-height: 12px;
 margin-bottom: 0;
 font-weight: 400;
 font-weight: 600;
}

.form-control:focus {
 border-color: #000000;
 box-shadow: none;
}

.form-control,
select {
 font-size: 12px;
}

select {
 height: 24px;
}

.btn.disabled {
 cursor: not-allowed;
}

form .btn {
 width: 100%;
 margin-top: 1rem;
}

form {
 padding: 0;
}

.table {
 /* border: 1px solid #000000; */
 border-spacing: 0;
}

.table th {
 border: none;
 font-size: 14px;
 font-weight: 600;
 color: var(--dark-purple);
 background: var(--light-purple);
 /* display: flex; */
 flex: 1;
}

.table tr {
 border: none;
 /* display: flex; */
 justify-content: space-evenly;
}

.table td {
 border: none;
 font-size: 12px;
 /* display: flex; */
 vertical-align: middle;
 align-items: center;
 /* border: 1px solid var(--dark-purple); */

 /* white-space: nowrap; */
}

td.action {
 justify-content: flex-end;
 padding-right: 1rem;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.pagination li {
 list-style: none;
 margin: 0 0.5rem;
}

.page-link {
 padding: 0.2rem;
 color: #000000;
}

.page-link:hover {
 padding: 0.2rem;
 color: #000000;
}

li.disabled {
 background: rgb(228, 227, 227);
 pointer-events: none;
}

li.disabled a i {
 pointer-events: none;
 color: #ababab;
}
.pagination-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}
.row-count-wrapper {
 display: flex;
 font-size: 12px;
 align-items: center;
 gap: 0.5rem;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 font-size: 12px;
}

.searchBox {
 display: flex;
 gap: 1rem;
 width: 20rem;
 margin-bottom: 1rem;
}

.searchBox button {
 background-color: var(--dark-pink);
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
}

.table-wrapper {
 overflow-x: auto;
 display: flex;
 flex-direction: column;
}

.content {
 background: #ffffff;
 padding: 1rem;
 margin-top: 4rem;
 border-radius: 10px;
 border: 1px solid rgb(229, 229, 229);
}

.content {
 /* background: #ffffff; */
 padding: 1rem;
 margin-top: 3rem;
 border-radius: 10px;

 /* border: 1px solid rgb(229, 229, 229); */
}

.btn.disabled {
 cursor: not-allowed;
 pointer-events: none;
 background-color: #ababab;
}

.badge {
 width: fit-content;
 padding: 0.2rem 0.5rem;
 border-radius: 5px;
 font-size: 12px;
 display: flex;
 align-items: center;
 justify-content: center;
}

select.form-control:not([size]):not([multiple]) {
 height: 2.1rem;
}

.reporterClient {
 width: 100%;
 margin-left: 4px;
 margin-bottom: 0.6rem;
}

.select2-selection__rendered span {
 display: flex;
 align-items: center;
 gap: 0.5rem;
}

.select2-selection__rendered span img {
 width: 20px;
 height: 20px;
 border-radius: 50%;
}

.error {
 color: red;
 font-size: 12px;
}

.tickets-container {
 display: flex;
 flex-direction: column;
 gap: 2rem;
 margin-top: 4remgit p;
}

.tickets-container .topbar {
 display: flex;
 align-items: center;
 gap: 1rem;
}

.topbar .searchBox {
 width: 20%;
 display: flex;
 align-items: center;
 margin-bottom: 0;
}

.basic-filters {
 display: flex;
 gap: 1rem;
 width: fit-content;
}

.topbar .searchBox input {
 width: 100%;
 border-radius: 20px;
}

.basic-filter {
 display: flex;
 gap: 1rem;
 align-items: center;
 justify-content: center;
 border-radius: 10px;
 border: 1px solid rgb(229, 229, 229);
 padding: 0.3rem 0.5rem;
 font-size: 11px;
 font-weight: 600;
 min-width: 2rem;
 background: white;
 color: rgb(132, 132, 132);
 cursor: pointer;
}

.basic-filter.active {
 color: var(--dark-pink);
 border: 1px solid var(--dark-pink);
}

.clear-filter {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
 font-size: 12px;
 font-weight: 600;
 color: var(--dark-pink);
 cursor: pointer;
}

.clear-filter i {
 font-size: 1.5rem;
 cursor: pointer;
}

.tickets-wrapper {
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
}

.ticket {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 justify-content: space-between;
 align-items: center;
 padding: 0.6rem 0.9rem;
 border-radius: 10px;
 border: 1px solid rgb(229, 229, 229);
 width: 20rem;
 background: white;
 cursor: pointer;
}

.ticket.pending {
 border-top: 5px solid red;
 background-color: rgb(240, 209, 209);
}

.ticket:hover {
 box-shadow: 0 0 10px 0 rgba(9, 9, 9, 0.141);
}

.ticket-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}

.header-bottom {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}

.header-bottom i {
 font-size: 1.2rem;
 cursor: pointer;
 margin-right: 0.3rem;
}

.header-bottom i:hover,
.header-bottom i.active-edit {
 color: var(--dark-pink);
}

.assignees-imgs {
 display: flex;
 padding-right: 1rem;
}

.assignees-imgs img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
 margin-right: -0.7rem;
}

.ticket-title {
 font-size: 0.9rem;
 font-weight: 600;
 color: grey;
 display: flex;
 gap: 1rem;
 align-items: center;
}

.ticket-status {
 padding: 0.2rem 0.7rem;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 font-size: 10px;
 font-weight: 700;
 background: var(--pastel-green);
 color: rgb(61 155 107);
}

.ticket-body {
 font-size: 14px;
 font-weight: 600;
 width: 100%;
}

.ticket-footer {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}

.footer-left {
 display: flex;
 gap: 0.5rem;
 align-items: center;
}

.ticket-priority {
 padding: 0.2rem 0.7rem;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 font-size: 10px;
 font-weight: 600;
 background: var(--pastel-cyan);
}

.ticket-type {
 padding: 0.2rem 0.7rem;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 font-size: 11px;
 font-weight: 600;
 background: var(--pastel-pink);
}

.type-bug {
 background: var(--nice-red);
 color: var(--nice-red-text);
}

.type-fr {
 background: var(--nice-blue);
 color: var(--nice-blue-text);
}

.ticket-due-date {
 font-size: 11px;
 font-weight: 600;
 color: var(--smoke-grey);
}

.priority-low {
 background: var(--nice-pink);
 color: var(--nice-pink-text);
}

.priority-medium {
 background: var(--nice-dark-blue);
 color: var(--nice-dark-blue-text);
}

.priority-high {
 background: var(--nice-purple);
 color: var(--nice-purple-text);
}

.status-open {
 background: var(--pastel-neon-green);
 color: var(--pastel-neon-green-dark);
}

.status-closed {
 background: var(--nice-crimson);
 color: var(--nice-crimson-text);
}

.status-in-progress {
 background: var(--nice-orange);
 color: var(--nice-orange-text);
}

.status-in-review {
 background: var(--nice-dark-blue);
 color: var(--nice-dark-blue-text);
}

.assignees {
 display: flex;
}

.assignees img {
 width: 20px;
 height: 20px;
 border-radius: 50%;
 margin-left: -0.3rem;
}

#file-preview-container {
 margin-top: 0.4rem;
 margin-left: 0.5rem;
 display: flex;
 gap: 1rem;
 align-items: center;
 position: relative;
 flex-wrap: wrap;
}

#file-preview-container img {
 width: 50px;
 height: 50px;
 object-fit: cover;
}

.ticket-view-wrapper {
 padding: 0;
}

.ticket-view-wrapper .header {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 0.4rem;
 padding: 1rem;
 border-bottom: 1px solid rgb(229, 229, 229);
}

.ticket-view-wrapper .header .title {
 font-size: 1.3rem;
 font-weight: 600;
}

.ticket-view-wrapper .header .badges {
 display: flex;
 gap: 1rem;
}
.ticket-view-wrapper .header .badges .badge {
 font-size: 0.8rem;
 font-weight: 600;
}

.form-select {
 border-radius: 10px;
 color: grey;
 border: none;
 background-color: rgb(242, 240, 240);
 width: 7rem;
 outline: none;
 font-size: 10px;
 cursor: pointer;
}

.form-select.disabled {
 cursor: not-allowed;
 pointer-events: none;
}

.form-select.status-open {
 background: var(--pastel-neon-green);
 color: var(--pastel-neon-green-dark);
}

.form-select.status-closed {
 background: var(--nice-crimson);
 color: var(--nice-crimson-text);
}

.form-select.status-in-progress {
 background: var(--nice-orange);
 color: var(--nice-orange-text);
}

.form-select.status-in-review {
 background: var(--nice-dark-blue);
 color: var(--nice-dark-blue-text);
}

.form-select.priority-low {
 background: var(--nice-pink);
 color: var(--nice-pink-text);
}

.form-select.priority-medium {
 background: var(--nice-dark-blue);
 color: var(--nice-dark-blue-text);
}

.form-select.priority-high {
 background: var(--nice-purple);
 color: var(--nice-purple-text);
}

option {
 background: white;
 color: grey;
}

.dot {
 height: 100px;
 width: 100px;
 background-color: #000000;
 border-radius: 50%;
 display: inline-block;
 margin-right: 5px;
}

.select-row {
 display: flex;
 margin: 0.5rem;
 border: 1px solid var(--smoke-grey);
 border-radius: 10px;
}

.select-col > label {
 margin: 0;
}

.select-col {
 display: flex;
 flex-direction: column;
 flex: 1;
 gap: 0.3rem;
 font-size: 11px;
 font-weight: 700;
 justify-content: center;
 padding: 0.5rem 1rem;
 text-align: left;
}
.select-col:nth-of-type(2) {
 border-right: 1px solid var(--smoke-grey);
 border-left: 1px solid var(--smoke-grey);
}

.select-col.fr-type {
 border-right: none;
 border-left: 1px solid var(--smoke-grey);
}

.select-col .created-by {
 display: flex;
 flex-direction: column;
 gap: 0.3rem;
}

.select-col.fr-type .created-by {
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 0.3rem;
}

.created-by div {
 display: flex;
 gap: 0.5rem;
 align-items: center;
 font-weight: 400;
}

.created-by img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
}

.description {
 display: flex;
 flex-direction: column;

 padding: 0.5rem;
}

.description label {
 font-weight: 600;
}

.description-content {
 border: 1px solid var(--smoke-grey);
 border-radius: 10px;
 padding: 0.4rem;
 font-size: 12px;
 height: 15vh;
 overflow-y: scroll;
}

.description-content::-webkit-scrollbar {
 width: 15px;
}

.description-content::-webkit-scrollbar-track {
 background-color: transparent;
}

.description-content::-webkit-scrollbar-thumb {
 background-color: #d6dee1;
 border-radius: 20px;
 border: 6px solid transparent;
 background-clip: content-box;
}

.description-content::-webkit-scrollbar-thumb:hover {
 background-color: #a8bbbf;
}

.file-link i {
 font-size: 2rem;
}

.type-bug {
 background: var(--nice-red);
 color: var(--nice-red-text);
}

.type-fr {
 background: var(--nice-blue);
 color: var(--nice-blue-text);
}

.attachments {
 display: flex;
 flex-direction: column;
 padding: 0.5rem;
}

.attachments label {
 font-weight: 600;
 margin-bottom: 0;
}

.attachments .preview-wrap {
 position: relative;
}

.attachments .remove-btn {
 background: var(--nice-crimson-text);
 color: white;
 border: none;
 border-radius: 50%;
 cursor: pointer;
 padding: 0.1rem;
 font-size: 12px;
 font-weight: 600;
 width: fit-content;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 1rem;
 width: 1rem;
 position: absolute;
 top: -0.2rem;
 right: -0.4rem;
}

.assignees-preview {
 display: flex;
 flex-direction: column;
 gap: 0.4rem;
 padding: 0.5rem;
 margin-bottom: 1rem;
}

.assignees-preview label {
 font-weight: 600;
 margin-bottom: 0;
}

.assignees-preview-wrapper {
 display: flex;
 gap: 1rem;
 font-size: 12px;
}

.assignees-preview-wrapper img {
 width: 20px;
 height: 20px;
 border-radius: 50%;
}

.assignees-preview-wrapper .assignee {
 display: flex;
 gap: 0.2rem;
 align-items: center;
 border: 1px solid var(--smoke-grey);
 padding: 0.2rem;
 border-radius: 3px;
 position: relative;
}

.assignee .remove-btn {
 background: var(--nice-crimson-text);
 color: white;
 border: none;
 border-radius: 50%;
 cursor: pointer;
 padding: 0.1rem;
 font-size: 12px;
 font-weight: 600;
 width: fit-content;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 1rem;
 width: 1rem;
 position: absolute;
 top: -0.4rem;
 right: -0.5rem;
}

.new-assignees {
 display: flex;
 gap: 1rem;
 padding: 0.5rem;
 margin-top: 0.5rem;
}

.new-assignees label {
 font-weight: 600;
 font-size: 1rem;
}

.footer {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 padding: 0.5rem;
}

.footer button {
 padding: 0.4rem 0.7rem;
 width: 30%;
}

.formerror {
 padding: 0.5rem;
}

#project-selected {
 display: flex;
 gap: 0.6rem;
 align-items: center;
}

#project-selected img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
}

#project-selected span {
 font-size: 14px;
 font-weight: 600;
}

.select2-selection__choice__remove {
 width: auto;
}

.error-container {
 display: flex;
 gap: 0.4rem;
 flex-direction: column;
}


.delete-ticket{
 display: flex;
 gap: 1rem;
 flex-direction: column;
 padding: 1rem;
}

.delete-ticket .modal-footer{
 padding: 0.2rem;
}