#company-users-dashboard {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 padding: 1rem;
}

.users-count {
 display: flex;
 gap: 1rem;
 margin-bottom: 20px;
}

.user-count {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 gap: 5px;
 border-radius: 10px;
 padding: 1rem;
 width: 12rem;
}

.user-count:nth-of-type(1) {
 background: var(--nice-purple);
}

.user-count:nth-of-type(2) {
 background: var(--pastel-neon-green);
}

.user-count:nth-of-type(3) {
 background: var(--nice-red);
}

.user-count-title {
 font-size: 14px;
}

.user-count-value {
 font-size: 2rem;
 font-weight: 600;
}

.date-range-selector .input {
 display: flex;
 gap: 1rem;
 font-size: 14px;
 align-items: center;
}

label {
 margin-bottom: 0;
 font-weight: 600;
}

.date-range-selector form {
 display: flex;
 gap: 1rem;
 flex-direction: column;
}

.date-range-selector .input {
 display: flex;
 justify-content: space-between;
}

.date-range-selector .input input {
 padding: 0.3rem;
 border-radius: 5px;
 border: 1px solid #ccc;
 width: 8rem;
}

.users-count-wrapper {
 display: flex;
 width: fit-content;
 border: 1px solid #ccc;
 background: white;
 padding: 1rem;
 border-radius: 10px;
 flex-direction: column;
 gap: 0.6rem;
 width: 100%;
}

.user-details {
 display: flex;
 gap: 1rem;
 align-items: center;
}

.user-details img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
}

.usersWithMostProjects-table {
 width: 100%;
}

.usersWithMostProjects-table table {
 width: 100%;
 border-collapse: collapse;
 border: 1px solid #eee;
}

.usersWithMostProjects-table table th {
 text-align: left;
 padding: 0.4rem;
 background: var(--nice-purple);
}

.usersWithMostProjects-table table td {
 padding: 0.4rem;
 border-bottom: 1px solid #eee;
}

.users-with-most-projects {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 width: 50%;
 padding: 1rem;
 background-color: white;
 border-radius: 10px;
 border: 1px solid #ccc;
}

.uWMp-input {
 display: flex;
 gap: 1rem;
 justify-content: flex-start;
}

.trends-wrapper {
 display: flex;
 gap: 1rem;
}

#EmployeeRoleDistribution-wrapper {
 display: flex;
 gap: 1rem;
 width: 60%;
 height: fit-content;
 margin: auto;
}

#EmployeeRoleDistribution {
 width: 100%;
 height: 100%;
 flex: 1;
}

.date-picker {
 display: flex;
 gap: 1rem;
}

.date-picker-input input {
 padding: 0.2rem;
 border-radius: 5px;
 border: 1px solid #ccc;
 width: 8rem;
}

.pagination {
 display: flex;
 justify-content: flex-end;
 padding-right: 3rem;
 align-items: center;
 font-size: 12px;
 gap: 1rem;
}
.pagination i {
 padding: 0.2rem;
 color: var(--pastel-pink);
 font-size: 1rem;
 cursor: pointer;
}

.pagination i.disabled {
 color: grey;
 pointer-events: none;
}


.not-time-based{
 background: #eeeef8;
}