.container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 100vh;
 width: 100vw;
 background-color: #ffffff;
 text-align: center;
 gap: 10rem;
}

.container img {
 width: 40%;
 height: 40vh;
}
.resetPass-form {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 height: 50vh;
 width: 60%;
 justify-content: center;
}

.form-control {
 font-size: 12px;
 width: 20vw;
 margin: auto;
 border: none;
 border-bottom: 1px solid var(--dark-pink);
}

.form-control:focus {
 border: 1px solid var(--dark-pink);
 box-shadow: none;
}

.resetPass-btn {
 border: none;
 background-color: var(--dark-pink);
 color: #ffffff;
 border-radius: 50px;
 width: 100%;
 padding: 1rem 1rem;
}
.resetPass-btn:hover {
 cursor: pointer;
 border: none;
 background-color: #bc2550b7;
}
.error {
 color: red;
 font-size: 12px;
 text-align: left;
}

.success_message {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
 width: 100vw;
 text-align: center;
}

.success_message i {
 font-size: 5rem;
 color: rgb(55, 175, 55);
}



@media screen and (max-width: 820px) {
 .container{
  gap: 1rem;
  font-size: 13px;
 }

 .resetPass-btn {
  padding: 0.5rem;
 }
 
 .container img {
  width: 40%;
  height: 50vh;
 }

 .resetPass-form{
  width: 60%;
 }

 .form-control {
  width: 100%;
 }
 .resetPass-btn {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
 }
}